@media (max-width: 500px) {
    .contact-content__block-text {
        width: 275px;
        font-size: 14px;
    }
    .contact-content__block-add {
        width: 275px;
        font-size: 14px;
    }
}