@media (max-width: 1250px) {
    .contact-content {
        padding: 90px 0 0 0;
    }
}
@media (max-width: 500px) {
    .contact-content__block-text {
        width: 340px;
        font-size: 14px;
    }
    .contact-content__block-add {
        width: 335px;
        font-size: 14px;
    }
}