.toy-content {
    padding: 57px 0 0 0;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        &-back {
            cursor: pointer;
            position: absolute;
            top: -63px;
        }
        &-text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            &-title {
                font-family: FuturaBookC;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 150%;
                letter-spacing: 0.5px;
                color: #FFFFFF;
            }
            &-filter {
                position: relative;
                &-block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 130px;
                    cursor: pointer;
                }
                &-title {
                    font-family: FuturaBookC;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 150%;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                }
                &-icon {
                    background: #04133C;
                    border: 1px solid #002685;
                    box-sizing: border-box;
                    box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
                    border-radius: 20px;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & svg {
                        margin: 1.5px 0 0 0;
                    }
                }
                &-wrapper {
                    transition: all 0.5s ease;
                    position: absolute;
                    width: 224px;
                    height: 325px;
                    top: 40px;
                    left: -94px;
                    background: #04133C;
                    border: 1px solid #002685;
                    box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
                    border-radius: 20px;
                    z-index: 100;
                    padding: 23px 0 20px 14px;
                    
                }
                &-discard {
                    margin: 25px 0 0 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    & p {
                        font-family: Circe;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 18px;
                        text-decoration-line: underline;
                        color: #FFFFFF;
                        text-shadow: 0px 0px 10px #414141;
                        margin: 0 15px 0 0;
                    }
                }
                &-range {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    padding: 0 10px 0 0;
                    position: relative;
                    margin: 65px 0 0 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    &::after {
                        content: "";
                        position: absolute;
                        top: -20px;
                        left: 45px;
                        width: 109px;
                        height: 2px;
                        background: #032D9F;
                        z-index: -1;
                    }
                    &-1 {
                        &::-webkit-slider-thumb {
                            margin: -27.2px 0 0 0;
                        }
                    }
                    &-2 {
                        &::-webkit-slider-thumb {
                            margin: -27.3px 0 0 0;
                        }
                    }
                    &-value {
                        &-1 {
                            position: absolute;
                            top: -48px;
                            left: 36px;
                            font-family: Circe;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 11px;
                            line-height: 16px;
                            color: #FFFFFF;
                            text-shadow: 0px 0px 10px #414141;
                        }
                        &-2 {
                            position: absolute;
                            top: -48px;
                            right: 48px;
                            font-family: Circe;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 11px;
                            line-height: 16px;
                            color: #FFFFFF;
                            text-shadow: 0px 0px 10px #414141;
                        }
                    }
                    &-next {
                        position: absolute;
                        top: -28px;
                        right: 26px;
                        font-family: Circe;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 18px;
                        color: #FFFFFF;
                        text-shadow: 0px 0px 10px #414141;
                    }
                    &-prev {
                        position: absolute;
                        top: -27px;
                        left: 18px;
                        font-family: Circe;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 18px;
                        color: #FFFFFF;
                        text-shadow: 0px 0px 10px #414141;
                    }
                    & input[type='range'] {
                        // overflow: hidden;
                        width: 115px;
                        -webkit-appearance: none;
                        // background: transparent;
                        // position: relative;
                    }
                    
                    & input[type='range']::-webkit-slider-runnable-track {
                        height: 0px;
                        -webkit-appearance: none;
                        background: transparent;
                    }
                    
                    & input[type='range']::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        width: 16px;
                        height: 16px;
                        background: #032D9F;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                    
                    & input[type="range"]::-moz-range-progress {
                        background-color: #43e5f7; 
                    }
                    & input[type="range"]::-moz-range-track {  
                        background-color: #9a905d;
                    }
                    & input[type="range"]::-ms-fill-lower {
                        background-color: #43e5f7; 
                    }
                    & input[type="range"]::-ms-fill-upper {  
                        background-color: #9a905d;
                    }
                }
            }
        }
        &-collections {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px 30px;
            width: 100%;
            height: 100%;
            margin: 37px 0 0 0;
            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 255px;
                height: 350px;
                background: #04133C;
                border: 1px solid #002685;
                box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
                border-radius: 20px;
                padding: 21px;
            }
            &-img {
                width: 213px;
                height: 184px;
                background: #001F71;
                border-radius: 10px;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    right: 13px;
                    bottom: 11px;
                    width: 32px;
                    height: 32px;
                    background: #30333A;
                    border-radius: 50%;
                    border: 1px solid #854FC8;
                }
                &::before {
                    content: url(../svg/toy/heart.svg);
                    position: absolute;
                    right: 20.5px;
                    bottom: 13px;
                    z-index: 10;
                }
            }
            &-title {
                margin: 23px 0 0 0;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 118%;
                letter-spacing: 0.5px;
                color: #FBFCFF;
            }
            &-price {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                margin: 21px 0 0 0;
                &-balls {
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 150%;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    margin: 0 0 0 26px;
                    position: relative;
                    &::after {
                        content: url(../svg/toy/money.svg);
                        position: absolute;
                        left: -26px;
                        top: 0;
                    }
                }
                &-reputation {
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 150%;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    margin: 0 0 0 41px;
                    position: relative;
                    &::after {
                        content: url(../svg/toy/star.svg);
                        position: absolute;
                        left: -26px;
                        top: 0;
                    }
                }
                &-sum {
                    width: 83px;
                    height: 31px;
                    background: #001F71;
                    border-radius: 15.5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 0 0 28px;
                    & p {
                        font-family: Circe;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 180%;
                        letter-spacing: 0.5px;
                        color: #FBFCFF;
                        margin: 2px 0 0 0;
                    }
                }
            }
            &-add {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                margin: 11px 0 0 0;
                &-shop {
                    width: 32px;
                    height: 32px;
                    background: #001F71;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
                &-share {
                    width: 32px;
                    height: 32px;
                    background: #001F71;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin: 0 0 0 10px;
                }
                &-calendar {
                    width: 32px;
                    height: 32px;
                    background: #001F71;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin: 0 0 0 10px;
                }
                &-sum {
                    margin: 5px 0 0 21px;
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 150%;
                    letter-spacing: 0.5px;
                    color: #BBBBBB;
                }
            }
        }
        &-collection {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px 30px;
            width: 100%;
            height: 100%;
            margin: 37px 0 0 0;
            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 255px;
                height: 350px;
                background: #04133C;
                border: 1px solid #002685;
                box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
                border-radius: 20px;
                padding: 21px;
            }
            &-img {
                width: 213px;
                height: 184px;
                background: #001F71;
                border-radius: 10px;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    right: 13px;
                    bottom: 11px;
                    width: 32px;
                    height: 32px;
                    background: #30333A;
                    border-radius: 50%;
                    border: 1px solid #854FC8;
                }
                &::before {
                    content: url(../svg/toy/heart.svg);
                    position: absolute;
                    right: 20.5px;
                    bottom: 13px;
                    z-index: 10;
                }
            }
            &-title {
                margin: 23px 0 0 0;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 118%;
                letter-spacing: 0.5px;
                color: #FBFCFF;
            }
            &-price {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                margin: 21px 0 0 0;
                &-balls {
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 150%;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    margin: 0 0 0 26px;
                    position: relative;
                    &::after {
                        content: url(../svg/toy/money.svg);
                        position: absolute;
                        left: -26px;
                        top: 0;
                    }
                }
                &-reputation {
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 150%;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    margin: 0 0 0 41px;
                    position: relative;
                    &::after {
                        content: url(../svg/toy/star.svg);
                        position: absolute;
                        left: -26px;
                        top: 0;
                    }
                }
                &-sum {
                    width: 83px;
                    height: 31px;
                    background: #001F71;
                    border-radius: 15.5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 0 0 28px;
                    & p {
                        font-family: Circe;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 180%;
                        letter-spacing: 0.5px;
                        color: #FBFCFF;
                        margin: 2px 0 0 0;
                    }
                }
            }
            &-add {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                margin: 11px 0 0 0;
                &-shop {
                    width: 32px;
                    height: 32px;
                    background: #001F71;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
                &-share {
                    width: 32px;
                    height: 32px;
                    background: #001F71;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin: 0 0 0 10px;
                }
                &-calendar {
                    width: 32px;
                    height: 32px;
                    background: #001F71;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin: 0 0 0 10px;
                }
                &-sum {
                    margin: 5px 0 0 21px;
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 150%;
                    letter-spacing: 0.5px;
                    color: #BBBBBB;
                }
            }
        }
        &-open {
            margin: 87px 0 0 0;
            width: 100%;
            text-align: center;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 29px;
            text-decoration-line: underline;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }
        &-close {
            margin: 87px 0 0 0;
            width: 100%;
            text-align: center;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 29px;
            text-decoration-line: underline;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }
    }
}


//! Input range price 


.price-range-slider {
    width: 155px;
    border: 0;
    padding: 0;
}

.price-wrap {
    display: flex;
    padding: 1em 0;
    justify-content: space-between;
    font-size: 0.9em;
    color: #BCBCBC;
}
.price-wrap-1 {

    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;

    color: #FFFFFF;

    text-shadow: 0px 0px 10px #414141;
        & label {
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        color: #FFFFFF;
        text-shadow: 0px 0px 10px #414141;
    }
    & input {
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        color: #FFFFFF;
        text-shadow: 0px 0px 10px #414141;
    }
}
.price-wrap-2 {
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #414141;
    & label {
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        color: #FFFFFF;
        text-shadow: 0px 0px 10px #414141;
    }
    & input {
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        color: #FFFFFF;
        text-shadow: 0px 0px 10px #414141;
        width: 30px;
    }
}

.price-range-slider .price-field {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.price-range-slider .price-field input[type=range] {
    position: absolute;
    color: transparent;
    
}
input {
    background-color: transparent;
}


.price-range-slider .price-field input[type=range] {
    width: 100%;
    height: 7px;
    outline: 0;
    box-sizing: border-box;
    pointer-events: none;
    -webkit-appearance: none;
}

.price-range-slider .price-field input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.price-range-slider .price-field input[type=range]:active,
.price-range-slider .price-field input[type=range]:focus {
    outline: 0;
}

.price-range-slider .price-field input[type=range]::-ms-track {
    width: 100%;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    background: transparent;
    border-color: transparent;
}


.price-range-slider .price-field input[type=range]::-webkit-slider-thumb {
    /* WebKit/Blink */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    margin-top: -10px;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background: #032D9F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: -8px 0 0 0;
}

.price-range-slider .price-field input[type=range]::-moz-range-thumb {
    /* Firefox */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    margin-top: -10px;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background: #032D9F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.price-range-slider .price-field input[type=range]::-ms-thumb {
    /* IE */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    margin-top: -10px;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background: #032D9F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type=range]::-webkit-slider-runnable-track {
	width: 109px;
    height: 2px;
    background: #032D9F;
}
input[type=range]::-moz-range-track {

}
input[type=range]::-ms-track { 

}


//! ---------------------------------------------------------------------------------------------------


//! 1-й вид checkbox в фильтре 
.toy-content__block-text-filter-checkbox {
    position: relative;
    margin-bottom: 2px;
}
.toy-content__block-text-filter-checkbox__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.toy-content__block-text-filter-checkbox__label {
    padding-left: 25px;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #414141;
    cursor: pointer;
}
.toy-content__block-text-filter-checkbox__label:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    left: 1062px;
    top: 295px;
    background: #032D9F;
    border-radius: 3px;
    position: absolute;
    top: 6px;
    left: 0;
    z-index: 1;
    transition: background .1s linear, border .1s linear;
}
.toy-content__block-text-filter-checkbox__input:checked + .toy-content__block-text-filter-checkbox__label:before {
    background-color: #fff;
    border-color: #fff;
}
.toy-content__block-text-filter-checkbox__input:checked + .toy-content__block-text-filter-checkbox__label:after {
    opacity: 1;
}

//! ---------------------------------------------------------------------------------------------------



//! 2-й вид checkbox в фильтре 
.toy-content__block-text-filter-checkboxs {
    position: relative;
    margin: 15px 0 2px 3px;
}
.toy-content__block-text-filter-checkboxs__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.toy-content__block-text-filter-checkboxs__label {
    padding-left: 25px;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #414141;
    cursor: pointer;
}
.toy-content__block-text-filter-checkboxs__label:before {
    content: "";
    display: block;
    background: #032D9F;
    border-radius: 3px;
    position: absolute;
    top: 7px;
    left: 0;
    z-index: 1;
    width: 14px;
    height: 14px;
    background: #032D9F;
    border-radius: 7px;
    transition: background .1s linear, border .1s linear;
}
.toy-content__block-text-filter-checkboxs__label:after {
    content: "";
    display: block;
    background-size: 12px 12px;
    opacity: 0;
    position: absolute;
    top: 11px;
    left: 4px;
    z-index: 2;
    transition: opacity .1s linear;
    width: 6px;
    height: 6px;
    background: #16B8C3;
    border-radius: 7px;
}
.toy-content__block-text-filter-checkboxs__input:checked + .toy-content__block-text-filter-checkboxs__label:after {
    opacity: 1;
}


//! ---------------------------------------------------------------------------------------------------

