node_modules
package-lock.json


<ul class="march-content__block-collection display-n">
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
    <li class="march-content__block-collection-item">
        <div class="march-content__block-collection-img"></div>
        <div class="march-content__block-collection-title">Белая</div>
        <div class="march-content__block-collection-price">
            <div class="march-content__block-collection-price-balls">78</div>
            <div class="march-content__block-collection-price-reputation">4.8</div>
            <div class="march-content__block-collection-price-sum"><p>2 990₽</p></div>
        </div>
        <div class="march-content__block-collection-add">
            <div class="march-content__block-collection-add-shop">@@include('iconsprite/march/shop.svg')</div>
            <div class="march-content__block-collection-add-share">@@include('iconsprite/march/share.svg')</div>
            <div class="march-content__block-collection-add-calendar">@@include('iconsprite/march/calendar.svg')</div>
            <div class="march-content__block-collection-add-sum">24% 5340₽</div>
        </div>
    </li>
</ul>