node_modules
package-lock.json


//! Слайдер в дополнительном блоке к квизу - 100


var quizContentAddSlider_100 = new Swiper(".quizContentAddSlider-100", {
    slidesPerView: 4, 
    spaceBetween: 30, 
    navigation: {
        nextEl: ".quiz-content__block-add-slider-100 .swiper-controls .swiper-button-next",
        prevEl: ".quiz-content__block-add-slider-100 .swiper-controls .swiper-button-prev",
        },
});

$('#quizContentBlockAdd-100').on('click', function() {
    $('.quiz-content__block-add').addClass('quiz-add-h')
    $('#quizContentBlockSliderAdd-100').toggleClass('display-n')
    $('#quizContentBlockSliderAdd-1').addClass('display-n')
    $('#quizContentBlockSliderAdd-3').addClass('display-n')
    $('#quizContentBlockSliderAdd-4').addClass('display-n')
    $('#quizContentBlockSliderAdd-5').addClass('display-n')
    $('#quizContentBlockSliderAdd-6').addClass('display-n')
    $('#quizContentBlockSliderAdd-7').addClass('display-n')
    $('#quizContentBlockSliderAdd-8').addClass('display-n')
    $('#quizContentBlockSliderAdd-9').addClass('display-n')
    $('#quizContentBlockSliderAdd-10').addClass('display-n')
    $('#quizContentBlockSliderAdd-11').addClass('display-n')
    $('#quizContentBlockSliderAdd-12').addClass('display-n')
});
$('#quizContentBlockSliderAddClose-100').on('click', function() {
    $('#quizContentBlockSliderAdd-100').addClass('display-n')
    $('.quiz-content__block-add').removeClass('quiz-add-h')
});


//! --------------------------------------------------------------------------------------------
