node_modules
package-lock.json


<div class="const-media-content__block-slider-3 display-n">
    <div class="swiper constMediaContentSlider_3">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="const-media-content__block-slider-3-wrapper">
                    <div class="const-media-content__block-slider-3-back">
                        @@include('iconsprite/constructor/arrow-down.svg')
                        @@include('iconsprite/constructor/arrow-down.svg')
                    </div>
                    <div class="const-media-content__block-slider-3-banner"></div>
                    <div class="const-media-content__block-slider-3-title">Лилия белая</div>
                    <div class="const-media-content__block-slider-3-add">Описание</div>
                    <div class="const-media-content__block-slider-3-description">Лилия Претти Вуман 
                        непрерывно цветёт целый месяц! </div>
                    <ul class="const-media-content__block-slider-3-color">
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                    </ul>
                    <div class="const-media-content__block-slider-3-balls">
                        <div class="const-media-content__block-slider-3-balls-bg">@@include('iconsprite/constructor/money.svg')</div>
                        <p>+160 баллов </p>
                    </div>
                    <div class="const-media-content__block-slider-3-car">
                        <div class="const-media-content__block-slider-3-car-bg">@@include('iconsprite/constructor/car.svg')</div>
                        <p>Бесплатная доставка по городу</p>
                    </div>
                    <div class="const-media-content__block-slider-3-list">
                        <div class="const-media-content__block-slider-3-list-bg">@@include('iconsprite/constructor/list.svg')</div>
                        <p>В случае доставки товара не надлежащего качества сообщите нам и мы его заменим</p>
                    </div>
                    <div class="const-media-content__block-slider-3-add">Скидка</div>
                    <div class="const-media-content__block-slider-3-discount">При покупке цветка от:
                        15 штук скидка 5%
                        25 штук скидка 7%
                        От 35 штук скидка 10% на все цветы</div>
                    <div class="const-media-content__block-slider-3-price">2990₽ </div>
                    <div class="const-media-content__block-slider-3-btns">
                        <div class="const-media-content__block-slider-3-btns-count">
                            <div class="const-media-content__block-slider-3-btns-count-minus">@@include('iconsprite/constructor/minus.svg')</div>
                            <div class="const-media-content__block-slider-3-btns-count-sum">1</div>
                            <div class="const-media-content__block-slider-3-btns-count-plus">@@include('iconsprite/constructor/plus.svg')</div>
                        </div>
                        <button class="const-content__block-slider-1-info-btn-item const-media-content__block-slider-3-btns-btn" id="constructorMediaBtnItem-2-1" value="item-2"><a href="#">Добавить</a></button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="const-media-content__block-slider-3-wrapper">
                    <div class="const-media-content__block-slider-3-back">
                        @@include('iconsprite/constructor/arrow-down.svg')
                        @@include('iconsprite/constructor/arrow-down.svg')
                    </div>
                    <div class="const-media-content__block-slider-3-banner"></div>
                    <div class="const-media-content__block-slider-3-title">Лилия белая</div>
                    <div class="const-media-content__block-slider-3-add">Описание</div>
                    <div class="const-media-content__block-slider-3-description">Лилия Претти Вуман 
                        непрерывно цветёт целый месяц! </div>
                    <ul class="const-media-content__block-slider-3-color">
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                    </ul>
                    <div class="const-media-content__block-slider-3-balls">
                        <div class="const-media-content__block-slider-3-balls-bg">@@include('iconsprite/constructor/money.svg')</div>
                        <p>+160 баллов </p>
                    </div>
                    <div class="const-media-content__block-slider-3-car">
                        <div class="const-media-content__block-slider-3-car-bg">@@include('iconsprite/constructor/car.svg')</div>
                        <p>Бесплатная доставка по городу</p>
                    </div>
                    <div class="const-media-content__block-slider-3-list">
                        <div class="const-media-content__block-slider-3-list-bg">@@include('iconsprite/constructor/list.svg')</div>
                        <p>В случае доставки товара не надлежащего качества сообщите нам и мы его заменим</p>
                    </div>
                    <div class="const-media-content__block-slider-3-add">Скидка</div>
                    <div class="const-media-content__block-slider-3-discount">При покупке цветка от:
                        15 штук скидка 5%
                        25 штук скидка 7%
                        От 35 штук скидка 10% на все цветы</div>
                    <div class="const-media-content__block-slider-3-price">2990₽ </div>
                    <div class="const-media-content__block-slider-3-btns">
                        <div class="const-media-content__block-slider-3-btns-count">
                            <div class="const-media-content__block-slider-3-btns-count-minus">@@include('iconsprite/constructor/minus.svg')</div>
                            <div class="const-media-content__block-slider-3-btns-count-sum">1</div>
                            <div class="const-media-content__block-slider-3-btns-count-plus">@@include('iconsprite/constructor/plus.svg')</div>
                        </div>
                        <button class="const-content__block-slider-1-info-btn-item const-media-content__block-slider-3-btns-btn" id="constructorMediaBtnItem-2-2" value="item-2"><a href="#">Добавить</a></button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="const-media-content__block-slider-3-wrapper">
                    <div class="const-media-content__block-slider-3-back">
                        @@include('iconsprite/constructor/arrow-down.svg')
                        @@include('iconsprite/constructor/arrow-down.svg')
                    </div>
                    <div class="const-media-content__block-slider-3-banner"></div>
                    <div class="const-media-content__block-slider-3-title">Лилия белая</div>
                    <div class="const-media-content__block-slider-3-add">Описание</div>
                    <div class="const-media-content__block-slider-3-description">Лилия Претти Вуман 
                        непрерывно цветёт целый месяц! </div>
                    <ul class="const-media-content__block-slider-3-color">
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                        <li class="const-media-content__block-slider-3-color-item"></li>
                    </ul>
                    <div class="const-media-content__block-slider-3-balls">
                        <div class="const-media-content__block-slider-3-balls-bg">@@include('iconsprite/constructor/money.svg')</div>
                        <p>+160 баллов </p>
                    </div>
                    <div class="const-media-content__block-slider-3-car">
                        <div class="const-media-content__block-slider-3-car-bg">@@include('iconsprite/constructor/car.svg')</div>
                        <p>Бесплатная доставка по городу</p>
                    </div>
                    <div class="const-media-content__block-slider-3-list">
                        <div class="const-media-content__block-slider-3-list-bg">@@include('iconsprite/constructor/list.svg')</div>
                        <p>В случае доставки товара не надлежащего качества сообщите нам и мы его заменим</p>
                    </div>
                    <div class="const-media-content__block-slider-3-add">Скидка</div>
                    <div class="const-media-content__block-slider-3-discount">При покупке цветка от:
                        15 штук скидка 5%
                        25 штук скидка 7%
                        От 35 штук скидка 10% на все цветы</div>
                    <div class="const-media-content__block-slider-3-price">2990₽ </div>
                    <div class="const-media-content__block-slider-3-btns">
                        <div class="const-media-content__block-slider-3-btns-count">
                            <div class="const-media-content__block-slider-3-btns-count-minus">@@include('iconsprite/constructor/minus.svg')</div>
                            <div class="const-media-content__block-slider-3-btns-count-sum">1</div>
                            <div class="const-media-content__block-slider-3-btns-count-plus">@@include('iconsprite/constructor/plus.svg')</div>
                        </div>
                        <button class="const-content__block-slider-1-info-btn-item const-media-content__block-slider-3-btns-btn" id="constructorMediaBtnItem-2-3" value="item-2"><a href="#">Добавить</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="swiper-controls">
        <div class="swiper-pagination"></div>
    </div>
    
</div>