.dnew-content {
    width: 100%;
    padding: 110px 0 0 0;
    &__block {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 93px;
        &-banner {
            width: 100%;
            height: 384px;
            background: #04133C;
            border: 1px solid #002685;
            box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
            border-radius: 20px;
        }
        &-wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
        }
        &-text {
            width: 445px;
            height: 100%;
            margin: 63px 0 0 0;
            &-title {
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 140%;
                letter-spacing: 0.5px;
                color: #FFFFFF;
            }
            &-item {
                margin: 50px 0 0 0;
                font-family: FuturaBookC;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 125%;
                letter-spacing: 0.5px;
                color: #FFFFFF;
            }
            &-btn {
                margin: 63px 0 0 0;
                width: 319px;
                height: 50px;
                background: conic-gradient(from 180deg at 50% 50%, #DCDCDC -35.51deg, #CCCCCC 10.17deg, #B6B6B6 44.5deg, #B8B8B8 123.75deg, #D1D1D1 171.3deg, #AAAAAA 188.73deg, #C4C4C4 224.01deg, #DCDCDC 324.49deg, #CCCCCC 370.17deg);
                box-shadow: 0px 0px 15px #C5C5C5;
                border-radius: 10px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                & a {
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 22px;
                    text-align: center;
                    color: #141651;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    width: 306.49px;
                    height: 41px;
                    border: 0.5px solid #C6C6C6;
                    border-radius: 10px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    width: 296.48px;
                    height: 33px;
                    border: 0.5px solid #C6C6C6;
                    border-radius: 10px;
                }
            }
        }
        &-table {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: flex-start;
            margin: 63px 0 0 0;
            &-title {
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 29px;
                color: #FFFFFF;
            }
        }
        &-tables {
            margin: 47px 0 0 0;
            display: grid;
            gap: 30px 30px;
            grid-template-columns: repeat(2, 1fr);
            &-item {
                width: 255px;
                height: 346px;
                background: #04133C;
                border: 1px solid #002685;
                box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
                border-radius: 20px;
                padding: 43px 18px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                &-date {
                    font-family: FuturaBookC;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 12px;
                    color: #929292;
                }
                &-text {
                    font-family: Circe;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 122%;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                }
            }
        }
    }
}