@media (max-width: 1440px) {
    .new-content__block-table-1-text {
        width: 100%;
    }
    .new-content__block-table-6-text {
        width: 100%;
    }
    .new-content__block-table-7-text {
        width: 100%;
    }
    .new-content__block-table-1 {
        max-width: 539px;
        width: 100%;
    }
    .new-content__block-table-6 {
        max-width: 539px;
        width: 100%;
    }
    .new-content__block-table-7 {
        max-width: 539px;
        width: 100%;
    }
    .new-content__block-table-2 {
        max-width: 255px;
        width: 100%;
    }
    .new-content__block-table-3 {
        max-width: 255px;
        width: 100%;
    }
    .new-content__block-table-4 {
        max-width: 255px;
        width: 100%;
    }
    .new-content__block-table-5 {
        max-width: 255px;
        width: 100%;
    }
    .new-content__block-table-8 {
        max-width: 255px;
        width: 100%;
    }
    .new-content__block-table-9 {
        max-width: 255px;
        width: 100%;
    }
    .new-content__block-table-1-title {
        width: 100%;
    }
    .new-content__block-table-6-title {
        width: 100%;
    }
    .new-content__block-table-7-title {
        width: 100%;
    }
    .new-content__block-table-2-text {
        width: 100%;
    }
    .new-content__block-table-3-text {
        width: 100%;
    }
    .new-content__block-table-4-text {
        width: 100%;
    }
    .new-content__block-table-5-text {
        width: 100%;
    }
    .new-content__block-table-8-text {
        width: 100%;
    }
    .new-content__block-table-9-text {
        width: 100%;
    }
    .new-content__block-table-add-1-text {
        width: 100%;
    }
    .new-content__block-table-add-6-text {
        width: 100%;
    }
    .new-content__block-table-add-7-text {
        width: 100%;
    }
    .new-content__block-table-add-1 {
        max-width: 539px;
        width: 100%;
    }
    .new-content__block-table-add-6 {
        max-width: 539px;
        width: 100%;
    }
    .new-content__block-table-add-7 {
        max-width: 539px;
        width: 100%;
    }
    .new-content__block-table-add-2 {
        max-width: 255px;
        width: 100%;
    }
    .new-content__block-table-add-3 {
        max-width: 255px;
        width: 100%;
    }
    .new-content__block-table-add-4 {
        max-width: 255px;
        width: 100%;
    }
    .new-content__block-table-add-5 {
        max-width: 255px;
        width: 100%;
    }
    .new-content__block-table-add-8 {
        max-width: 255px;
        width: 100%;
    }
    .new-content__block-table-add-9 {
        max-width: 255px;
        width: 100%;
    }
    .new-content__block-table-add-1-title {
        width: 100%;
    }
    .new-content__block-table-add-6-title {
        width: 100%;
    }
    .new-content__block-table-add-7-title {
        width: 100%;
    }
    .new-content__block-table-add-2-text {
        width: 100%;
    }
    .new-content__block-table-add-3-text {
        width: 100%;
    }
    .new-content__block-table-add-4-text {
        width: 100%;
    }
    .new-content__block-table-add-5-text {
        width: 100%;
    }
    .new-content__block-table-add-8-text {
        width: 100%;
    }
    .new-content__block-table-add-9-text {
        width: 100%;
    }
}
@media (max-width: 1400px) {
    .new-content__block-table-1-text-item {
        width: 265px;
        font-size: 13px;
    }
    .new-content__block-table-1-text-link {
        width: 85px;
    }
    .new-content__block-table-6-text-item {
        width: 265px;
        font-size: 13px;
    }
    .new-content__block-table-6-text-link {
        width: 85px;
    }
    .new-content__block-table-7-text-item {
        width: 265px;
        font-size: 13px;
    }
    .new-content__block-table-7-text-link {
        width: 85px;
    }
    .new-content__block-table-add-1-text-item {
        width: 265px;
        font-size: 13px;
    }
    .new-content__block-table-add-1-text-link {
        width: 85px;
    }
    .new-content__block-table-add-6-text-item {
        width: 265px;
        font-size: 13px;
    }
    .new-content__block-table-add-6-text-link {
        width: 85px;
    }
    .new-content__block-table-add-7-text-item {
        width: 265px;
        font-size: 13px;
    }
    .new-content__block-table-add-7-text-link {
        width: 85px;
    }
}
@media (max-width: 1300px) {
    .new-content__block-table {
        gap: 20px 20px;
    }
    .new-content__block-table-add {
        gap: 20px 20px;
    }
}
@media (max-width: 1250px) {
    .new-content__block-table {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "new-content__block-table-1 new-content__block-table-1 new-content__block-table-2"
        "new-content__block-table-5 new-content__block-table-6 new-content__block-table-6"
        "new-content__block-table-7 new-content__block-table-7 new-content__block-table-8"
        "new-content__block-table-3 new-content__block-table-4 new-content__block-table-9";
    }
    .new-content__block-table-add {
        margin: 20px 0 0 0;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "new-content__block-table-add-1 new-content__block-table-add-1 new-content__block-table-add-2"
        "new-content__block-table-add-5 new-content__block-table-add-6 new-content__block-table-add-6"
        "new-content__block-table-add-7 new-content__block-table-add-7 new-content__block-table-add-8"
        "new-content__block-table-add-3 new-content__block-table-add-4 new-content__block-table-add-9";
    }
    .new-content__block-table-1 {
        max-width: 603px;
    }
    .new-content__block-table-6 {
        max-width: 603px;
    }
    .new-content__block-table-7 {
        max-width: 603px;
    }
    .new-content__block-table-add-1 {
        max-width: 603px;
    }
    .new-content__block-table-add-6 {
        max-width: 603px;
    }
    .new-content__block-table-add-7 {
        max-width: 603px;
    }
    .new-content__block-table-2 {
        max-width: 295px;
        width: 100%;
    }
    .new-content__block-table-3 {
        max-width: 295px;
        width: 100%;
    }
    .new-content__block-table-4 {
        max-width: 295px;
        width: 100%;
    }
    .new-content__block-table-5 {
        max-width: 295px;
        width: 100%;
    }
    .new-content__block-table-8 {
        max-width: 295px;
        width: 100%;
    }
    .new-content__block-table-9 {
        max-width: 295px;
        width: 100%;
    }
    .new-content__block-table-add-2 {
        max-width: 295px;
        width: 100%;
    }
    .new-content__block-table-add-3 {
        max-width: 295px;
        width: 100%;
    }
    .new-content__block-table-add-4 {
        max-width: 295px;
        width: 100%;
    }
    .new-content__block-table-add-5 {
        max-width: 295px;
        width: 100%;
    }
    .new-content__block-table-add-8 {
        max-width: 295px;
        width: 100%;
    }
    .new-content__block-table-add-9 {
        max-width: 295px;
        width: 100%;
    }
}
@media (max-width: 900px) {
    .new-content__block-table {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "new-content__block-table-1 new-content__block-table-1"
        "new-content__block-table-2 new-content__block-table-3"
        "new-content__block-table-6 new-content__block-table-6"
        "new-content__block-table-4 new-content__block-table-5"
        "new-content__block-table-7 new-content__block-table-7"
        "new-content__block-table-8 new-content__block-table-9";
    }
    .new-content__block-table-1 {
        max-width: 100%;
    }
    .new-content__block-table-2 {
        max-width: 100%;
    }
    .new-content__block-table-3 {
        max-width: 100%;
    }
    .new-content__block-table-4 {
        max-width: 100%;
    }
    .new-content__block-table-5 {
        max-width: 100%;
    }
    .new-content__block-table-6 {
        max-width: 100%;
    }
    .new-content__block-table-6 {
        max-width: 100%;
    }
    .new-content__block-table-7 {
        max-width: 100%;
    }
    .new-content__block-table-8 {
        max-width: 100%;
    }
    .new-content__block-table-9 {
        max-width: 100%;
    }
    .new-content__block-table-add {
        margin: 20px 0 0 0;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "new-content__block-table-add-1 new-content__block-table-add-1"
        "new-content__block-table-add-2 new-content__block-table-add-3"
        "new-content__block-table-add-6 new-content__block-table-add-6"
        "new-content__block-table-add-4 new-content__block-table-add-5"
        "new-content__block-table-add-7 new-content__block-table-add-7"
        "new-content__block-table-add-8 new-content__block-table-add-9";
    }
    .new-content__block-table-add-1 {
        max-width: 100%;
    }
    .new-content__block-table-add-2 {
        max-width: 100%;
    }
    .new-content__block-table-add-3 {
        max-width: 100%;
    }
    .new-content__block-table-add-4 {
        max-width: 100%;
    }
    .new-content__block-table-add-5 {
        max-width: 100%;
    }
    .new-content__block-table-add-6 {
        max-width: 100%;
    }
    .new-content__block-table-add-6 {
        max-width: 100%;
    }
    .new-content__block-table-add-7 {
        max-width: 100%;
    }
    .new-content__block-table-add-8 {
        max-width: 100%;
    }
    .new-content__block-table-add-9 {
        max-width: 100%;
    }
}
@media (max-width: 550px) {
    .new-content__block-table-1-text-item {
        width: 70%;
        font-size: 11px;
        padding: 0 10px 0 0;
    }
    .new-content__block-table-1-title {
        width: 100%;
        font-size: 18px;
    }
    .new-content__block-table-6-text-item {
        width: 70%;
        font-size: 11px;
        padding: 0 10px 0 0;
    }
    .new-content__block-table-6-title {
        width: 100%;
        font-size: 18px;
    }
    .new-content__block-table-7-text-item {
        width: 70%;
        font-size: 11px;
        padding: 0 10px 0 0;
    }
    .new-content__block-table-7-title {
        width: 100%;
        font-size: 18px;
    }
    .new-content__block-table-2-text {
        width: 100%;
        font-size: 12px;
    }
    .new-content__block-table-3-text {
        width: 100%;
        font-size: 12px;
    }
    .new-content__block-table-4-text {
        width: 100%;
        font-size: 12px;
    }
    .new-content__block-table-5-text {
        width: 100%;
        font-size: 12px;
    }
    .new-content__block-table-8-text {
        width: 100%;
        font-size: 12px;
    }
    .new-content__block-table-9-text {
        width: 100%;
        font-size: 12px;
    }
    .new-content__block-table-add-1-text-item {
        width: 70%;
        font-size: 11px;
        padding: 0 10px 0 0;
    }
    .new-content__block-table-add-1-title {
        width: 100%;
        font-size: 18px;
    }
    .new-content__block-table-add-6-text-item {
        width: 70%;
        font-size: 11px;
        padding: 0 10px 0 0;
    }
    .new-content__block-table-add-6-title {
        width: 100%;
        font-size: 18px;
    }
    .new-content__block-table-add-7-text-item {
        width: 70%;
        font-size: 11px;
        padding: 0 10px 0 0;
    }
    .new-content__block-table-add-7-title {
        width: 100%;
        font-size: 18px;
    }
    .new-content__block-table-add-2-text {
        width: 100%;
        font-size: 12px;
    }
    .new-content__block-table-add-3-text {
        width: 100%;
        font-size: 12px;
    }
    .new-content__block-table-add-4-text {
        width: 100%;
        font-size: 12px;
    }
    .new-content__block-table-add-5-text {
        width: 100%;
        font-size: 12px;
    }
    .new-content__block-table-add-8-text {
        width: 100%;
        font-size: 12px;
    }
    .new-content__block-table-add-9-text {
        width: 100%;
        font-size: 12px;
    }
}
@media (max-width: 500px) {
    .new-content__block-text {
        flex-direction: column;
        align-items: flex-start;
    }
    .new-content__block-text-select {
        width: 100%;
    }
    .sort-select-styled {
        padding: 0 0 0 125px;
    }
    .new-content__block-text-select::after {
        left: 0px;
    }
    .sort-select-options {
        left: 115px;
        max-width: 325px;
    }
    .sort-select-options li {
        width: 100%;
    }
}