//! --------------------------------------------------------------------
//! Миксины -----------------------------------------------------------
//! --------------------------------------------------------------------

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}


//! --------------------------------------------------------------------
//! Подключение файлов -------------------------------------------------
//! --------------------------------------------------------------------

@import "fonts.scss";
@import "header.scss";
@import "menu.scss";
@import "footer.scss";
@import "basket.scss";
@import "index/style.scss";
@import "catalog/style.scss";
@import "order/style.scss";
@import "new/style.scss";
@import "dnew/style.scss";
@import "search/style.scss";
@import "march/style.scss";
@import "quiz/style.scss";
@import "404/style.scss";
@import "subscription/style.scss";
@import "about/style.scss";
@import "contact/style.scss";
@import "description/style.scss";
@import "toy/style.scss";
@import "urgently/style.scss";
@import "constructor/style.scss";

@import "media.scss";


//! --------------------------------------------------------------------
//! Стили --------------------------------------------------------------
//! --------------------------------------------------------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none
}
body {
    background: url(../img/catalog/catalog-bg.png) no-repeat fixed;
    background-size: cover;
    width: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
}
button {
    padding: 0;
    border: none;
    cursor: pointer;
}
.containers {
    max-width: 1440px;
    padding: 0 165px;
    margin: 0 auto;
}
ol, ul {
    padding-left: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.display-n {
    display: none !important;
}
.display-f {
    display: flex !important;
}
.display-g {
    display: grid !important;
}
input[type="range" i] {
    color: transparent;
}
.opacity-5 {
    opacity: 0.5;
}


//! Календарь 

.ui-widget.ui-widget-content {
    width: 319px;
    height: 281px;
    border: 1px solid #16B8C3;
    background: #001C68;
    // background: transparent;
    border-radius: 5px;
    position: relative;
    padding: 15px 45px;
    & thead {
        position: absolute;
        width: 229px;
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 180%;
        text-align: center;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        & tr {
            width: 229px;
            & th {
                width: 100%;
            }
        }
    }
    & tbody {
        position: absolute;
        width: 229px;
        top: 80px;
        & tr {
            width: 229px;
        }
    }
    .ui-widget-header {
        width: 160px;
        position: absolute;
        top: 50px;
        padding: 0;
        background: transparent;
        border: none;
        font-family: Circe;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 180%;
        letter-spacing: 0.5px;
        color: #FFFFFF;
    }
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active,
.ui-datepicker td span, .ui-datepicker td a {
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background: transparent;
    border: none;
}
.ui-datepicker .ui-datepicker-today {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        left: 4px;
        top: 4.5px;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
    }
}
.ui-datepicker th {
    padding: 5px 8.5px;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td {
    border: 0;
    padding: 4px ​7px;
}
.ui-datepicker td {
    border: 0;
    padding: 4px 7px;
}
.ui-datepicker .ui-datepicker-prev span {
    background: url(../svg/calendar/arrow-prev.svg) no-repeat;
}
.ui-datepicker .ui-datepicker-next span {
    background: url(../svg/calendar/arrow-next.svg) no-repeat;
    padding: 0 0 0 10px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -4px;
    top: 50%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span {
    &:hover {
        background: transparent;
    }
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    background: transparent;
    border: 0px solid transparent;
}
.ui-datepicker .ui-datepicker-next span:hover {
    background: url(../svg/calendar/arrow-next.svg) no-repeat;
}
.ui-datepicker .ui-datepicker-prev span:hover {
    background: url(../svg/calendar/arrow-prev.svg) no-repeat;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top: 2px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 2px;
}

//! ------------------------------------------------------------------------------------