//! --------------------------------------------------------------------
//! Миксины -----------------------------------------------------------
//! --------------------------------------------------------------------

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}


//! --------------------------------------------------------------------
//! Подключение файлов -------------------------------------------------
//! --------------------------------------------------------------------

@import "fonts.scss";
@import "header.scss";
@import "menu.scss";
@import "footer.scss";
@import "basket.scss";
@import "index/style.scss";
@import "catalog/style.scss";
@import "order/style.scss";
@import "new/style.scss";
@import "dnew/style.scss";
@import "search/style.scss";
@import "march/style.scss";
@import "quiz/style.scss";
@import "404/style.scss";
@import "subscription/style.scss";
@import "about/style.scss";
@import "contact/style.scss";
@import "description/style.scss";
@import "toy/style.scss";
@import "urgently/style.scss";

@import "media.scss";


//! --------------------------------------------------------------------
//! Стили --------------------------------------------------------------
//! --------------------------------------------------------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none
}
body {
    background: url(../img/catalog/catalog-bg.png) no-repeat fixed;
    background-size: cover;
    width: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
}
button {
    padding: 0;
    border: none;
    cursor: pointer;
}
.containers {
    max-width: 1440px;
    padding: 0 165px;
    margin: 0 auto;
}
ol, ul {
    padding-left: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.display-n {
    display: none !important;
}
.display-f {
    display: flex !important;
}
.display-g {
    display: grid !important;
}
input[type="range" i] {
    color: transparent;
}
.opacity-5 {
    opacity: 0.5;
}