@media (max-width: 1330px) {
    .header-profile__chosen {
        width: 96%;
        position: static;
        margin: 30px 0 0 0;
        align-items: center;
    }
}
@media (max-width: 950px) {
    .header-profile__chosen-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .header-profile__chosen-item:last-child {
        display: flex;
    }
    .header-profile__chosen {
        padding: 30px 0 0 0;
    }
    .header-profile__chosen {
        height: 840px;
    }
}