.i-header {
    width: 100%;
    height: 100vh;
    padding: 165px 0 30px 0;
    &__calendar {
        background: #001C68;
        box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        height: 675px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 37px 110px 46px 110px;
        position: relative;
        &-btn {
            width: 66px;
            height: 66px;
            background: #001F75;
            border-radius: 50%;
            position: absolute;
            top: -30px;
            right: -30px;
        }
        .modal-dialog {
            max-width: 540px;
            max-height: 675px;
        }
        &-title {
            font-family: FuturaBookC;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 150%;
            letter-spacing: 0.5px;
            color: #FFFFFF;
            margin: 0 0 28px 0;
        }
        &-add {
            margin: 40px 0 0 0;
            font-family: FuturaBookC;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 150%;
            letter-spacing: 0.5px;
            color: #B6B3B3;
        }
        &-text {
            margin: 10px 0 0 0;
            width: 275px;
            height: 119px;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 122%;
            text-align: center;
            letter-spacing: 0.5px;
            color: #FFFFFF;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        &-title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            &-logo {
                filter: drop-shadow(0px 4px 4px rgba(253, 0, 61, 0.55));
                & svg {
                    filter: drop-shadow(0px 4px 4px rgba(253, 0, 61, 0.55));
                }
                & a {
                    cursor: pointer;
                }
            }
            &-add {
                width: 230px;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                text-align: center;
                color: #FFFFFF;
                margin-top: 44px;
            }
            &-item {
                margin-top: 20px;
                font-family: Felix Titling;
                font-style: normal;
                font-weight: normal;
                font-size: 39px;
                line-height: 99.68%;
                letter-spacing: 0.3em;
                text-transform: uppercase;
                color: #FFFFFF;
                text-shadow: 0px 4px 30px rgba(0, 191, 255, 0.55);
            }
        }
        &-model {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 50px 0 0 0;
            &-container {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                margin-bottom: 15px;
            }
            &-city {
                width: 210px;
                position: relative;
                cursor: pointer;
                &-title {
                    font-family: Circe;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 27px;
                    text-align: center;
                    color: #FFFFFF;
                }
                &-select {
                    position: absolute;
                    width: 290px;
                    height: 223px;
                    background: #04133C;
                    border: 1px solid #002685;
                    box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
                    border-radius: 3px;
                    top: 43px;
                    left: -15px;
                    padding: 16px 0 16px 26px;
                    &::-webkit-scrollbar {
                        width: 27px;
                    }
                    
                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 10px 10px #854FC8;
                        border: solid 12px transparent;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        box-shadow: inset 0 0 10px 10px #fff;
                        border: solid 10px transparent;
                    }
                    & .form-select {
                        color: transparent;
                        background-color: transparent;
                        background-image: none;
                        border: none;
                        transition: none;
                    }
                    & option {
                        font-family: Circe;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 21px;
                        color: #FFFFFF;
                        text-shadow: 0px 0px 10px #414141;
                    }
                }
            }
            &-vert {
                width: 30px;
                height: 0px;
                border-top: 2px solid #854FC8;
                transform: rotate(90deg);
                margin: 0 30px;
            }
            &-hr {
                width: 728px;
                height: 0px;
                border-top: 2px solid #854FC8;
            }
            &-btn {
                border: none;
                cursor: pointer;
                background-color: transparent;
                width: 145px;
                height: 27px;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 27px;
                text-align: center;
                color: #656565;
                margin: 0 0 0 72px;
            }
        }
        &-text {
            padding: 70px 0 0 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            &-title {
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 19px;
                line-height: 99.68%;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }
            &-add {
                margin-top: 29px;
                width: 332px;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                text-align: center;
                color: #FFFFFF;
                // white-space: pre;
            }
        }
    }
}


#indexModelCalendar .modal-dialog {
    display: flex;
    justify-content: center;
}


