@media (max-width: 1050px) {
    .i-header {
        height: 100%;
    }
}
@media (max-height: 900px) {
    .i-header {
        padding: 120px 0 30px 0;
    }
}
@media (max-height: 820px) {
    .i-header {
        padding: 60px 0 30px 0;
    }
}
@media (max-height: 760px) {
    .i-header {
        padding: 30px 0 30px 0;
    }
    .i-header__block-text {
        padding: 30px 0 0 0;
    }
}



@media (max-width: 800px) {
    .i-header__block-model-hr {
        width: 590px;
    }
    .i-header__block-model-btn {
        margin: 0 0 0 57px;
    }
}
@media (max-width: 750px) {
    .c-select-styled {
        font-size: 14px !important;
    }
}
@media (max-width: 650px) {
    .i-header__block-model-hr {
        width: 460px;
    }
    .c-select {
        margin: 0 30px 0 0;
    }
    .i-header__block-model-vert {
        margin: 0 10px;
    }
    .i-header__block-model-btn {
        margin: 0 0 0 30px;
    }
    .i-header__block-model-city-select {
        width: 230px;
        left: -15px;
    }
    .i-header__block-model-city {
        width: 170px;
        position: relative;
        cursor: pointer;
    }
}
@media (max-width: 600px) {
    .i-header__calendar-btn {
        background: transparent;
        top: 0;
        right: 0;
    }
}
@media (max-width: 500px) {
    .i-header__block-model-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 45px 0;
    }
    .i-header__block-model-vert {
        display: none;
    }
    .i-header__block-model-item {
        grid-area: 2 / 1;
    }
    .i-header__block-model-calendar,
    .i-header__block-model-search {
        text-align: right;
    }
    .i-header__block-model-hr {
        display: none;
    }
    .i-header__block-model-btn {
        margin: 0 0 0 0px;
    }
    .i-header__block-model-container {
        height: 120px;
    }
    .i-header__block-model-city {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 350px;
            height: 0px;
            border: 1px solid #854FC8;
        }
    }
    .i-header__block-model-item {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 350px;
            height: 0px;
            border: 1px solid #854FC8;
        }
    }
    .i-header__block-model-city-select {
        z-index: 10;
    }
    .i-header__block-model-city-select {
        width: 350px;
        left: 0px;
    }
}
@media (max-width: 480px) {
    .i-header__block-model-hr {
        width: 400px;
    }
    .i-header__block-model-city-select {
        width: 330px;
        left: 0px;
    }
    .c-select {
        margin: 0 15px 0 0;
    }
    .i-header__block-model-vert {
        margin: 0 3px;
    }
    .i-header__block-model-btn {
        margin: 0 0 0 15px;
    }
    .i-header__block-model-city {
        width: 132px;
        margin: 0 10px 0 0;
        position: relative;
        cursor: pointer;
    }
    .i-header__block-model-city {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 330px;
            height: 0px;
            border: 1px solid #854FC8;
        }
    }
    .i-header__block-model-item {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 330px;
            height: 0px;
            border: 1px solid #854FC8;
        }
    }
}
@media (max-width: 450px) {
    .c-select-styled {
        font-size: 14px !important;
    }
    .c-select {
        width: 125px !important;
    }
    .i-header__block-model-btn {
        margin: 0;
    }
    .i-header__block-model-city {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 300px;
            height: 0px;
            border: 1px solid #854FC8;
        }
    }
    .i-header__block-model-item {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 300px;
            height: 0px;
            border: 1px solid #854FC8;
        }
    }
    .i-header__block-model-city-select {
        width: 300px;
        left: 0px;
    }
}
@media (max-width: 410px) {
    .i-header__block-model-hr {
        width: 360px;
    }
}