@media (max-width: 1050px) {
    .header {
        height: 100%;
    }
}
@media (max-height: 900px) {
    .header {
        padding: 120px 0 30px 0;
    }
}
@media (max-height: 820px) {
    .header {
        padding: 60px 0 30px 0;
    }
}
@media (max-height: 760px) {
    .header {
        padding: 30px 0 30px 0;
    }
    .header__block-text {
        padding: 30px 0 0 0;
    }
}



@media (max-width: 800px) {
    .header__block-model-hr {
        width: 590px;
    }
}
@media (max-width: 650px) {
    .header__block-model-hr {
        width: 460px;
    }
    .c-select {
        margin: 0 30px 0 0;
    }
    .header__block-model-vert {
        margin: 0 10px;
    }
    .header__block-model-btn {
        margin: 0 0 0 30px;
    }
}
@media (max-width: 480px) {
    .header__block-model-hr {
        width: 400px;
    }
    .c-select {
        margin: 0 15px 0 0;
    }
    .header__block-model-vert {
        margin: 0 3px;
    }
    .header__block-model-btn {
        margin: 0 0 0 15px;
    }
}


@media (max-width: 750px) {
    .c-select-styled {
        font-size: 14px !important;
    }
}
@media (max-width: 450px) {
    .c-select-styled {
        font-size: 14px !important;
    }
    .c-select {
        width: 125px !important;
    }
    .header__block-model-btn {
        font-size: 15px;
    }
}
@media (max-width: 410px) {
    .header__block-model-hr {
        width: 360px;
    }
}