@media (max-width: 1300px) {
    .sub-content__block-card {
        & .subMediaSlider {
            display: block;
            .sub-content__block-card-wrapper {
                display: block;
            }
        }
        & .swiper-controls {
            display: block;
        }
    }
    .sub-content__block-card-wrapper {
        display: none;
    }
    .sub-content__block-text {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-1 {
            width: 100%;
        }
        &-2 {
            width: 100%;
            margin: 35px 0 0 0;
        }
    }
}
@media (max-width: 600px) {
    .sub-content__block-card {
        & .swiper-controls {
            & .swiper-button-next {
                right: -15px;
            }
            & .swiper-button-prev {
                left: -15px;
            }
        }
    }
}
@media (max-width: 550px) {
    .sub-content__block-card {
        & .swiper-controls {
            & .swiper-button-next {
                display: none;
            }
            & .swiper-button-prev {
                display: none;
            }
        }
    }
}




//! Модальное окно 


@media (max-width: 1300px) {
    .sub-model-1 {
        height: 3068px;
        padding: 51px 0 0 0;
        width: 820px;
    }
    .sub-model-1__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .sub-model-1__block-check {
        margin: 50px 0 0 0;
    }
    .sub-model-1-add {
        text-align: center;
    }
}
@media (max-width: 860px) {
    .sub-model-1-title {
        display: none;
    }
    .sub-model-1 {
        margin: 0;
    }
    .sub-model-1 {
        padding: 100px 0 0 0;
        width: 590px;
    }
    .sub-model-1-add {
        position: relative;
        text-align: left;
        padding: 0 0 0 25px;
        &::after {
            content: "Оформление заказа";
            position: absolute;
            top: -65px;
            left: 25px;
            font-family: FuturaBookC;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 150%;
            letter-spacing: 0.5px;
            color: #FFFFFF;
        }
    }
}
@media (max-width: 650px) {
    .sub-model-1__block-text-btns {
        flex-direction: column;
    }
    .sub-model-1__block-text-btns-delivery {
        margin: 40px 0 0 0;
    }
    .sub-model-1__block-text-input {
        grid-template-columns: repeat(1, 1fr);
    }
    .sub-model-1-add {
        width: 225px;
        &::after {
            width: 150%;
        }
    }
    .sub-model-1__block-text-time-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .sub-model-1__block-text-time h3 {
        width: 150%;
    }
    .sub-model-1__block-text-inputs {
        grid-template-columns: repeat(1, 1fr);
    }
    .sub-model-1__block-check {
        margin: 50px 0 0 -30px;
    }
    .sub-model-1 {
        height: 3750px;
    }
    .sub-model-1__block-check-cards h3::after {
        content: "(до 2500 символов)";
        position: absolute;
        top: 30px;
        left: 0px;
        font-family: Circe;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 122%;
        letter-spacing: .5px;
        color: #b7a8a8;
    }
    .sub-model-1__block-check-cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 170px;
        position: relative;
        margin: 150px 0 0 0;
        padding: 50px 0 0 0;
    }
    .sub-model-1__block-check-list {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #subModelCheckItem-2 {
        margin: 36px 0 0 0;
    }
    .sub-model-1__block-check-list-item {
        width: 320px;
    }
    .sub-model-1__block-text-btns {
        align-items: flex-start;
    }
    .sub-model-1__block-text-btns {
        width: 100%;
    }
    .sub-model-1__block {
        align-items: flex-start;
        margin: 0 0 0 25px;
    }
    .sub-model-1__block-check {
        margin: 50px 0 0 0;
    }
    .sub-model-1__block-check-message {
        width: 320px;
    }
    .sub-model-1__block-check-comment textarea {
        width: 320px;
    }
    .sub-model-1__block-check-btn {
        width: 320px;
    }
    .sub-model-1__block-check-btn::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 8px;
        width: 299.55px;
        height: 33px;
        border: .5px solid #c6c6c6;
        border-radius: 10px;
    }
    .sub-model-1__block-check-btn::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 310.86px;
        height: 41px;
        border: .5px solid #c6c6c6;
        border-radius: 10px;
    }
    .sub-model-1 {
        height: 3960px;
        width: 370px;
    }
    .sub-model-1__block-text-addres h3 {
        position: absolute;
        top: -50px;
        left: 0;
        font-family: Circe;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 122%;
        letter-spacing: .5px;
        color: #fff;
        width: 200%;
    }
    .sub-model-1__block-check-call h3 {
        position: absolute;
        top: -40px;
        left: 0;
        font-family: Circe;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 122%;
        letter-spacing: .5px;
        color: #fff;
        width: 350px;
    }
    .sub-model-1__block-text-btns-pickup {
        width: 320px;
    }
    .sub-model-1__block-text-btns-delivery {
        width: 320px;
    }
    .sub-model-1__block-text-btns-active::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 8px;
        width: 296px;
        height: 76px;
        border: .5px solid #c6c6c6;
        border-radius: 10px;
    }
    .sub-model-1__block-text-btns-active::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 308px;
        height: 86px;
        border: .5px solid #c6c6c6;
        border-radius: 10px;
    }
    .sub-model-1__block-text-input-name,
    .sub-model-1__block-text-input-phone,
    .sub-model-1__block-text-input-names,
    .sub-model-1__block-text-input-phones,
    .sub-model-1__block-text-input-city,
    .sub-model-1__block-text-input-date,
    .sub-model-1__block-text-time-item,
    .sub-model-1__block-text-inputs-street,
    .sub-model-1__block-text-inputs-home,
    .sub-model-1__block-text-inputs-entrance,
    .sub-model-1__block-text-inputs-floor,
    .sub-model-1__block-text-inputs-apartment {
        width: 320px;
    }
    .sub-model-1__block-text-time-active::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 8px;
        border: .5px solid #c6c6c6;
        border-radius: 10px;
        width: 303px;
        height: 34px;
    }
    .sub-model-1__block-text-time-active::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        border: .5px solid #c6c6c6;
        border-radius: 10px;
        width: 312px;
        height: 42px;
    }
    .sub-model-1__block-check-list-active::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 8px;
        width: 299.81px;
        height: 33px;
        border: .5px solid #c6c6c6;
        border-radius: 10px;
    }
    .sub-model-1__block-check-list-active::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 309.13px;
        height: 41px;
        border: .5px solid #c6c6c6;
        border-radius: 10px;
    }
    
}


//! --------------------------------------------------------------------------------