    <footer class="footer">
        <div class="containers">
            <div class="footer__block">
                <div class="footer__block-media-logo">
                    <div class="footer__block-media-logo-item">
                        <div class="footer__block-media-logo-img">
                            <img src="./img/logo.png" alt="logo">
                        </div>
                        <div class="footer__block-media-logo-title">BeEhappy</div>
                    </div>
                </div>
                <div class="footer__block-hr"></div>
                <div class="footer__block-text">
                    <div class="footer__block-text-catalog">
                        <div class="footer__block-text-catalog-title">Категории</div>
                        <ul class="footer__block-text-catalog-list">
                            <li class="footer__block-text-catalog-item">Конструктор букетов</li>
                            <li class="footer__block-text-catalog-item">Букет на вкус флориста</li>
                            <li class="footer__block-text-catalog-item">Добавить к букету</li>
                            <li class="footer__block-text-catalog-item">Подборки</li>
                            <li class="footer__block-text-catalog-item">Монобукеты</li>
                            <li class="footer__block-text-catalog-item">Оплата доставки за город</li>
                        </ul>
                    </div>
                    <div class="footer__block-text-info">
                        <div class="footer__block-text-info-title">Информация</div>
                        <ul class="footer__block-text-info-list">
                            <li class="footer__block-text-info-item">Популярные вопросы</li>
                            <li class="footer__block-text-info-item">Новости и скидки</li>
                            <li class="footer__block-text-info-item">Оплата</li>
                            <li class="footer__block-text-info-item">О нас</li>
                            <li class="footer__block-text-info-item">Договор оферты</li>
                            <li class="footer__block-text-info-item">Политика конфиденциальности</li>
                            <li class="footer__block-text-info-item">Контакты</li>
                        </ul>
                    </div>
                    <div class="footer__block-text-logo">
                        <div class="footer__block-text-logo-item">
                            <div class="footer__block-text-logo-img">
                                <img src="./img/logo.png" alt="logo">
                            </div>
                            <div class="footer__block-text-logo-title">BeEhappy</div>
                        </div>
                    </div>
                </div>
                <div class="footer__block-hr"></div>
                <div class="footer__block-contact">
                    <div class="footer__block-contact-title">
                        Сopyright © 2021 Beehapy
                    </div>
                    <ul class="footer__block-contact-tag">
                        <li class="footer__block-contact-tag-item">Terms</li>
                        <li class="footer__block-contact-tag-item">Privacy</li>
                        <li class="footer__block-contact-tag-item">Cookies</li>
                    </ul>
                    <ul class="footer__block-contact-social">
                        <li class="footer__block-contact-social-item">
                            <a href="#">
                                @@include('../iconsprite/instagram.svg')
                            </a>
                        </li>
                        <li class="footer__block-contact-social-item">
                            <a href="#">
                                @@include('../iconsprite/vk.svg')
                            </a>
                        </li>
                        <li class="footer__block-contact-social-item">
                            <a href="#">
                                @@include('../iconsprite/viber.svg')
                            </a>
                        </li>
                        <li class="footer__block-contact-social-item">
                            <a href="#">
                                @@include('../iconsprite/telegram.svg')
                            </a>
                        </li>
                        <li class="footer__block-contact-social-item">
                            <a href="#">
                                @@include('../iconsprite/whatsapp.svg')
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
