
    <header class="header">
        <div class="containers">
            <div class="basket display-n">
                <div class="basket__block">
                    <div class="basket__block-title">
                        <div class="basket__block-title-item">Ваша корзина</div>
                        <div class="basket__block-title-btn">@@include('../iconsprite/close-model.svg')</div>
                    </div>
                    <ul class="basket__block-list">
                        <li class="basket__block-list-item">
                            <div class="basket__block-list-img">@@include('../iconsprite/img.svg')</div>
                            <div class="basket__block-list-text">
                                <div class="basket__block-list-text-title">Кустовая роза<br>белая</div>
                                <div class="basket__block-list-text-price">2990₽ </div>
                            </div>
                            <div class="basket__block-list-icon">
                                <div class="basket__block-list-icons">
                                    @@include('../iconsprite/heart-model.svg')
                                    @@include('../iconsprite/basket.svg')
                                </div>
                                <div class="basket__block-list-icon-btn">
                                    <div class="basket__block-list-icon-btn-minus"><p>-</p></div>
                                    <div class="basket__block-list-icon-btn-number"><p>1</p></div>
                                    <div class="basket__block-list-icon-btn-plus"><p>+</p></div>
                                </div>
                            </div>
                        </li>
                        <li class="basket__block-list-item">
                            <div class="basket__block-list-img">@@include('../iconsprite/img.svg')</div>
                            <div class="basket__block-list-text">
                                <div class="basket__block-list-text-title">Кустовая роза<br>белая</div>
                                <div class="basket__block-list-text-price">2990₽ </div>
                            </div>
                            <div class="basket__block-list-icon">
                                <div class="basket__block-list-icons">
                                    @@include('../iconsprite/heart-model.svg')
                                    @@include('../iconsprite/basket.svg')
                                </div>
                                <div class="basket__block-list-icon-btn">
                                    <div class="basket__block-list-icon-btn-minus"><p>-</p></div>
                                    <div class="basket__block-list-icon-btn-number"><p>1</p></div>
                                    <div class="basket__block-list-icon-btn-plus"><p>+</p></div>
                                </div>
                            </div>
                        </li>
                        <li class="basket__block-list-item">
                            <div class="basket__block-list-img">@@include('../iconsprite/img.svg')</div>
                            <div class="basket__block-list-text">
                                <div class="basket__block-list-text-title">Кустовая роза<br>белая</div>
                                <div class="basket__block-list-text-price">2990₽ </div>
                            </div>
                            <div class="basket__block-list-icon">
                                <div class="basket__block-list-icons">
                                    @@include('../iconsprite/heart-model.svg')
                                    @@include('../iconsprite/basket.svg')
                                </div>
                                <div class="basket__block-list-icon-btn">
                                    <div class="basket__block-list-icon-btn-minus"><p>-</p></div>
                                    <div class="basket__block-list-icon-btn-number"><p>1</p></div>
                                    <div class="basket__block-list-icon-btn-plus"><p>+</p></div>
                                </div>
                            </div>
                        </li>
                        <li class="basket__block-list-item">
                            <div class="basket__block-list-img">@@include('../iconsprite/img.svg')</div>
                            <div class="basket__block-list-text">
                                <div class="basket__block-list-text-title">Кустовая роза<br>белая</div>
                                <div class="basket__block-list-text-price">2990₽ </div>
                            </div>
                            <div class="basket__block-list-icon">
                                <div class="basket__block-list-icons">
                                    @@include('../iconsprite/heart-model.svg')
                                    @@include('../iconsprite/basket.svg')
                                </div>
                                <div class="basket__block-list-icon-btn">
                                    <div class="basket__block-list-icon-btn-minus"><p>-</p></div>
                                    <div class="basket__block-list-icon-btn-number"><p>1</p></div>
                                    <div class="basket__block-list-icon-btn-plus"><p>+</p></div>
                                </div>
                            </div>
                        </li>
                        <li class="basket__block-list-item">
                            <div class="basket__block-list-img">@@include('../iconsprite/img.svg')</div>
                            <div class="basket__block-list-text">
                                <div class="basket__block-list-text-title">Кустовая роза<br>белая</div>
                                <div class="basket__block-list-text-price">2990₽ </div>
                            </div>
                            <div class="basket__block-list-icon">
                                <div class="basket__block-list-icons">
                                    @@include('../iconsprite/heart-model.svg')
                                    @@include('../iconsprite/basket.svg')
                                </div>
                                <div class="basket__block-list-icon-btn">
                                    <div class="basket__block-list-icon-btn-minus"><p>-</p></div>
                                    <div class="basket__block-list-icon-btn-number"><p>1</p></div>
                                    <div class="basket__block-list-icon-btn-plus"><p>+</p></div>
                                </div>
                            </div>
                        </li>
                        <li class="basket__block-list-item">
                            <div class="basket__block-list-img">@@include('../iconsprite/img.svg')</div>
                            <div class="basket__block-list-text">
                                <div class="basket__block-list-text-title">Кустовая роза<br>белая</div>
                                <div class="basket__block-list-text-price">2990₽ </div>
                            </div>
                            <div class="basket__block-list-icon">
                                <div class="basket__block-list-icons">
                                    @@include('../iconsprite/heart-model.svg')
                                    @@include('../iconsprite/basket.svg')
                                </div>
                                <div class="basket__block-list-icon-btn">
                                    <div class="basket__block-list-icon-btn-minus"><p>-</p></div>
                                    <div class="basket__block-list-icon-btn-number"><p>1</p></div>
                                    <div class="basket__block-list-icon-btn-plus"><p>+</p></div>
                                </div>
                            </div>
                        </li>
                        <li class="basket__block-list-item">
                            <div class="basket__block-list-img">@@include('../iconsprite/img.svg')</div>
                            <div class="basket__block-list-text">
                                <div class="basket__block-list-text-title">Кустовая роза<br>белая</div>
                                <div class="basket__block-list-text-price">2990₽ </div>
                            </div>
                            <div class="basket__block-list-icon">
                                <div class="basket__block-list-icons">
                                    @@include('../iconsprite/heart-model.svg')
                                    @@include('../iconsprite/basket.svg')
                                </div>
                                <div class="basket__block-list-icon-btn">
                                    <div class="basket__block-list-icon-btn-minus"><p>-</p></div>
                                    <div class="basket__block-list-icon-btn-number"><p>1</p></div>
                                    <div class="basket__block-list-icon-btn-plus"><p>+</p></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="basket__block-add">
                        <div class="basket__block-add-car">
                            <div class="basket__block-add-car-bg">@@include('../iconsprite/basket/car.svg')</div>
                            <p>Бесплатная доставка по городу</p>
                        </div>
                        <div class="basket__block-add-list">
                            <div class="basket__block-add-list-bg">@@include('../iconsprite/basket/list.svg')</div>
                            <p>В случае доставки товара не надлежащего качества
                                сообщите нам и мы его заменим</p>
                        </div>
                    </div>
                    <div class="basket__block-info">
                        <div class="basket__block-info-detail">Детали цены</div>
                        <div class="basket__block-info-add">
                            <p>Будет начислено</p>
                            <div class="basket__block-info-add-sum">
                                <p>+166</p>
                                <div class="basket__block-info-add-sum-bg">@@include('../iconsprite/basket/money.svg')</div>
                            </div>
                        </div>
                        <div class="basket__block-info-text">
                            <p>Сумма без учета баллов</p>
                            <div class="basket__block-info-text-hr"></div>
                            <p>12 300₽</p>
                        </div>
                        <div class="basket__block-info-price">
                            <div class="basket__block-info-price-text">Итого:</div>
                            <div class="basket__block-info-price-sum">12 622₽</div>
                        </div>
                        <button class="basket__block-info-btn">Перейти к оформлению</button>
                    </div>
                </div>
            </div>
            <div class="baskets display-n">
                <div class="baskets__block">
                    <div class="baskets__block-btn">@@include('../iconsprite/basket-close.svg')</div>
                    <div class="baskets__block-title">Ваша корзина</div>
                    <div class="baskets__block-wrapper">
                        <p>Место для иллюстрации</p>
                    </div>
                    <div class="baskets__block-add">В корзине пока нет товаров</div>
                </div>
            </div>
            <div class="menu">
                <div class="containers">
                    <div class="menu__block">
                        <div class="menu__block-title">
                            <a href="#">
                                <div class="menu__block-title-phone">
                                    @@include('../iconsprite/phone-menu.svg')
                                </div>
                                
                            </a>

                            <div class="menu__block-title-currency">
                                <button class="menu__block-title-currency-rus opacity-5">RUB</button>
                                <div class="menu__block-title-currency-hr"> / </div>
                                <button class="menu__block-title-currency-usd">USD</button>
                                <div class="menu__block-title-currency-hr"> / </div>
                                <button class="menu__block-title-currency-teng">TENG</button>
                            </div>
                            
                            <a href="#">
                                <div class="menu__block-title-logo">
                                    <div class="menu__block-title-logo-item">
                                        <img src="./img/logo.png" alt="logo">
                                    </div>
                                    <div class="menu__block-title-logo-text">
                                        Behappy
                                    </div>
                                </div>
                            </a>
                            <div class="menu__block-title-language">
                                <button class="menu__block-title-language-rus opacity-5">РУС</button>
                                <div class="menu__block-title-language-hr"> / </div>
                                <button class="menu__block-title-language-eng">ENG</button>
                            </div>
                            <div class="menu__block-title-client" data-bs-toggle="modal" data-bs-target="#modelHeader-1">
                                @@include('../iconsprite/client.svg')
                            </div>
                            <div class="menu__block-title-client-media" id="mediaClientModel">
                                @@include('../iconsprite/client.svg')
                            </div>
                            <a href="#">
                                <div class="menu__block-title-close">
                                    <div class="menu-close">
                                        @@include('../iconsprite/close-menu.svg')
                                    </div>
                                    <p>Выход</p>
                                </div>
                            </a>
                        </div>
                        <div class="menu__block-contact">
                            <div class="menu__block-contact-fon">
                                <div class="menu__block-contact-fon-black">
                                    <img src="./img/catalog/rgb-circle.png" alt="">
                                </div>
                                <div class="menu__block-contact-fon-white">
                                    <img src="./img/catalog/rgb-circle.png" alt="">
                                </div>
                                <div class="menu__block-contact-fon-text">Поменять цветовую тему сайта</div>
                            </div>
                            <ul class="menu__block-contact-social">
                                <li class="menu__block-contact-social-instagram">
                                    <a href="#">
                                        <div class="menu__block-contact-social-bg">
                                            @@include('../iconsprite/instagram.svg')
                                        </div>
                                    </a>
                                </li>
                                <li class="menu__block-contact-social-vk">
                                    <a href="#">
                                        <div class="menu__block-contact-social-bg">
                                            @@include('../iconsprite/vk.svg')
                                        </div>
                                    </a>
                                </li>
                                <li class="menu__block-contact-social-viber">
                                    <a href="#">
                                        <div class="menu__block-contact-social-bg">
                                            @@include('../iconsprite/viber.svg')
                                        </div>
                                    </a>
                                </li>
                                <li class="menu__block-contact-social-whatsapp">
                                    <a href="#">
                                        <div class="menu__block-contact-social-bg">
                                            @@include('../iconsprite/whatsapp.svg')
                                        </div>
                                    </a>
                                </li>
                                <li class="menu__block-contact-social-telegram">
                                    <a href="#">
                                        <div class="menu__block-contact-social-bg">
                                            @@include('../iconsprite/telegram.svg')
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <ul class="menu__block-catalog">
                            <li class="menu__block-catalog-bouquet">
                                <div class="menu__block-catalog-bouquet-1">
                                    <div class="menu__block-catalog-bouquet-2">
                                        <p>Конструктор букетов</p>
                                        @@include('../iconsprite/bouquet-1.svg')
                                        @@include('../iconsprite/bouquet-2.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-florist">
                                <div class="menu__block-catalog-florist-1">
                                    <div class="menu__block-catalog-florist-2">
                                        <p>Букет на вкус флориста</p>
                                        @@include('../iconsprite/florist.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-add">
                                <div class="menu__block-catalog-add-1">
                                    <div class="menu__block-catalog-add-2">
                                        <p>Добавить к букету</p>
                                        @@include('../iconsprite/add-1.svg')
                                        @@include('../iconsprite/add-2.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-catalog">
                                <div class="menu__block-catalog-catalog-1">
                                    <div class="menu__block-catalog-catalog-2">
                                        <p>Подборки</p>
                                        @@include('../iconsprite/catalog.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-manager">
                                <div class="menu__block-catalog-manager-1">
                                    <div class="menu__block-catalog-manager-2">
                                        <p>Благодарность менеджеру</p>
                                        @@include('../iconsprite/manager.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-new">
                                <div class="menu__block-catalog-new-1">
                                    <div class="menu__block-catalog-new-2">
                                        <p>Новости и акции</p>
                                        @@include('../iconsprite/new.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-order">
                                <div class="menu__block-catalog-order-1">
                                    <div class="menu__block-catalog-order-2">
                                        <p>Быстрый заказ</p>
                                        @@include('../iconsprite/order.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-client">
                                <div class="menu__block-catalog-client-1">
                                    <div class="menu__block-catalog-client-2">
                                        <p>Проверить заказ</p>
                                        @@include('../iconsprite/client.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-block">
                                <div class="menu__block-catalog-block-1">
                                    <div class="menu__block-catalog-block-2">
                                        <p>Цветочная подписка</p>
                                        @@include('../iconsprite/block.svg')
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__block">
                <a href="index.html">
                    <div class="header__block-logo">
                        <div class="header__block-logo-item">
                            @@include('../iconsprite/logo.svg')
                        </div>
                        <div class="header__block-logo-title">
                            Behappy
                        </div>
                    </div>
                </a>
                <div class="header__block-list">
                    <ul class="header__block-list-1">
                        <li class="header__block-list-1-item header__block-list-1-item-select">
                            <div class="header__block-list-1-btn-g">
                                <div class="header__block-list-1-btn-g-1">
                                    <div class="header__block-list-1-btn-g-2">
                                        <div class="header__block-list-1-btn-title-city">Москва</div>
                                        <select class="form-select header__block-list-1-item-select-block display-n" size="3" aria-label="size 3 select example">
                                            <option value="Абаза" id="header-city-1">Абаза</option>
                                            <option value="Абакан" id="header-city-2">Абакан</option>
                                            <option value="Абдулино" id="header-city-3">Абдулино</option>
                                            <option value="Абинск" id="header-city-4">Абинск</option>
                                            <option value="Агидель" id="header-city-5">Агидель</option>
                                            <option value="Агрыз" id="header-city-6">Агрыз</option>
                                            <option value="Адыгейск" id="header-city-7">Адыгейск</option>
                                            <option value="Азнакаево" id="header-city-8">Азнакаево</option>
                                            <option value="Азов" id="header-city-9">Азов</option>
                                            <option value="Ак-Довурак" id="header-city-10">Ак-Довурак</option>
                                            <option value="Аксай" id="header-city-11">Аксай</option>
                                            <option value="Алагир" id="header-city-12">Алагир</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="header__block-list-1-item header__block-list-1-item-catalog">
                                <div class="header__block-list-1-btn-y">
                                    <div class="header__block-list-1-btn-y-1">
                                        <div class="header__block-list-1-btn-y-2">
                                            <div class="header__block-list-1-btn-title-catalog">Подборки</div>
                                            <select class="form-select header__block-list-1-item-catalog-block display-n" size="3" aria-label="size 3 select example">
                                                <option value="8 марта" id="header-catalog-1">
                                                    <p>8 марта</p>
                                                </option>
                                                <option value="Подари сердце" id="header-catalog-2">Подари сердце</option>
                                                <option value="Подарочные наборы" id="header-catalog-3">Подарочные наборы</option>
                                                <option value="8 марта" id="header-catalog-1">8 марта</option>
                                                <option value="Подари сердце" id="header-catalog-2">Подари сердце</option>
                                                <option value="Подарочные наборы" id="header-catalog-3">Подарочные наборы</option>
                                                <option value="8 марта" id="header-catalog-1">8 марта</option>
                                                <option value="Подари сердце" id="header-catalog-2">Подари сердце</option>
                                                <option value="Подарочные наборы" id="header-catalog-3">Подарочные наборы</option>
                                                <option value="8 марта" id="header-catalog-1">8 марта</option>
                                                <option value="Подари сердце" id="header-catalog-2">Подари сердце</option>
                                                <option value="Подарочные наборы" id="header-catalog-3">Подарочные наборы</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        </li>
                        <li class="header__block-list-1-item header__block-list-1-item-add">
                            <div class="header__block-list-1-block">
                                <div class="header__block-list-1-block-lg">
                                    <div class="header__block-list-1-block-lg-1">
                                        <div class="header__block-list-1-block-lg-2">
                                            <p>
                                                1210
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="header__block-list-1-block-o baskets-open">
                                    <div class="header__block-list-1-block-o-1">
                                        <div class="header__block-list-1-block-o-2">
                                            У
                                        </div>
                                    </div>
                                </div>
                                <div class="header__block-list-1-block-g basket-open">
                                    <div class="header__block-list-1-block-g-1">
                                        <div class="header__block-list-1-block-g-2">
                                            К
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="header__block-list-2">
                        <li class="header__block-list-2-item header__block-list-2-item-create">
                            <a href="">
                                <div class="header__block-list-2-btn-b">
                                    <div class="header__block-list-2-btn-b-1">
                                        <div class="header__block-list-2-btn-b-2">
                                            <p>
                                                Конструктор букета
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            
                        </li>
                        <li class="header__block-list-2-item header__block-list-2-item-florist">
                            <a href="">
                                <div class="header__block-list-2-btn-p">
                                    <div class="header__block-list-2-btn-p-1">
                                        <div class="header__block-list-2-btn-p-2">
                                            <p>
                                                Букет на вкус флориста
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="header__block-list-2-item header__block-list-2-item-order">
                            <a href="order.html">
                                <div class="header__block-list-2-btn-r">
                                    <div class="header__block-list-2-btn-r-1">
                                        <div class="header__block-list-2-btn-r-2">
                                            <p>
                                                Срочный заказ
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="header__block-list-2-item header__block-list-2-item-search display-n">
                            <input type="text" placeholder="Поиск">
                            <div class="header__block-list-2-item-search-hr"></div>
                            <div class="header__block-list-2-item-search-list">
                                <div class="header__block-list-2-item-search-list-header">
                                    <div class="header__block-list-2-item-search-list-header-name">Наименование товара</div>
                                    <div class="header__block-list-2-item-search-list-header-catalog">Категория</div>
                                    <div class="header__block-list-2-item-search-list-header-price">Цена</div>
                                </div>
                                <div class="header__block-list-2-item-search-list-hr"></div>
                                <ul class="header__block-list-2-item-search-list-block">
                                    <li class="header__block-list-2-item-search-list-item">
                                        <div class="header__block-list-2-item-search-list-item-img">@@include('../iconsprite/img.svg')</div>
                                        <div class="header__block-list-2-item-search-list-item-title">Кустовая роза</div>
                                        <div class="header__block-list-2-item-search-list-item-catalog">Подарочные наборы</div>
                                        <div class="header__block-list-2-item-search-list-item-price">2990₽</div>
                                        <div class="header__block-list-2-item-search-list-item-prev">5340₽</div>
                                    </li>
                                    <li class="header__block-list-2-item-search-list-item">
                                        <div class="header__block-list-2-item-search-list-item-img">@@include('../iconsprite/img.svg')</div>
                                        <div class="header__block-list-2-item-search-list-item-title">Кустовая роза</div>
                                        <div class="header__block-list-2-item-search-list-item-catalog">Подарочные наборы</div>
                                        <div class="header__block-list-2-item-search-list-item-price">2990₽</div>
                                        <div class="header__block-list-2-item-search-list-item-prev">5340₽</div>
                                    </li>
                                    <li class="header__block-list-2-item-search-list-item">
                                        <div class="header__block-list-2-item-search-list-item-img">@@include('../iconsprite/img.svg')</div>
                                        <div class="header__block-list-2-item-search-list-item-title">Кустовая роза</div>
                                        <div class="header__block-list-2-item-search-list-item-catalog">Подарочные наборы</div>
                                        <div class="header__block-list-2-item-search-list-item-price">2990₽</div>
                                        <div class="header__block-list-2-item-search-list-item-prev">5340₽</div>
                                    </li>
                                    <li class="header__block-list-2-item-search-list-item">
                                        <div class="header__block-list-2-item-search-list-item-img">@@include('../iconsprite/img.svg')</div>
                                        <div class="header__block-list-2-item-search-list-item-title">Кустовая роза</div>
                                        <div class="header__block-list-2-item-search-list-item-catalog">Подарочные наборы</div>
                                        <div class="header__block-list-2-item-search-list-item-price">2990₽</div>
                                        <div class="header__block-list-2-item-search-list-item-prev">5340₽</div>
                                    </li>
                                    <li class="header__block-list-2-item-search-list-item">
                                        <div class="header__block-list-2-item-search-list-item-img">@@include('../iconsprite/img.svg')</div>
                                        <div class="header__block-list-2-item-search-list-item-title">Кустовая роза</div>
                                        <div class="header__block-list-2-item-search-list-item-catalog">Подарочные наборы</div>
                                        <div class="header__block-list-2-item-search-list-item-price">2990₽</div>
                                        <div class="header__block-list-2-item-search-list-item-prev">5340₽</div>
                                    </li>
                                    <li class="header__block-list-2-item-search-list-item">
                                        <div class="header__block-list-2-item-search-list-item-img">@@include('../iconsprite/img.svg')</div>
                                        <div class="header__block-list-2-item-search-list-item-title">Кустовая роза</div>
                                        <div class="header__block-list-2-item-search-list-item-catalog">Подарочные наборы</div>
                                        <div class="header__block-list-2-item-search-list-item-price">2990₽</div>
                                        <div class="header__block-list-2-item-search-list-item-prev">5340₽</div>
                                    </li>
                                    <li class="header__block-list-2-item-search-list-item">
                                        <div class="header__block-list-2-item-search-list-item-img">@@include('../iconsprite/img.svg')</div>
                                        <div class="header__block-list-2-item-search-list-item-title">Кустовая роза</div>
                                        <div class="header__block-list-2-item-search-list-item-catalog">Подарочные наборы</div>
                                        <div class="header__block-list-2-item-search-list-item-price">2990₽</div>
                                        <div class="header__block-list-2-item-search-list-item-prev">5340₽</div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="header__block-menu">
                    <a href="#">
                        <div class="header__block-menu-client">
                            <div class="header__block-menu-client-1">
                                <div class="header__block-menu-client-2">
                                    <p data-bs-toggle="modal" data-bs-target="#modelHeader-1">
                                        A
                                    </p>
                                    <div class="modal fade" id="modelHeader-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content model-header">
                                                <button type="button" class="btn-close model-header-btn" data-bs-dismiss="modal" aria-label="Close">
                                                    @@include('../iconsprite/close-model.svg')
                                                </button>
                                                <div class="model-header__block">
                                                    <div class="model-header__block-title">Войти или зарегистрироваться</div>
                                                    <div class="model-header__block-email">
                                                        <input placeholder="Ваш email" type="text" class="model-header__block-email-input" id="modelHeaderEmail">
                                                        <label for="modelHeaderEmail">Ваш email</label>
                                                        @@include('../iconsprite/header/email.svg')
                                                    </div>
                                                    <div class="model-header__block-password">
                                                        <input placeholder="Ваш пароль" type="text" class="model-header__block-password-input" id="modelHeaderPassword">
                                                        <label for="modelHeaderPassword">Ваш пароль</label>
                                                        @@include('../iconsprite/header/password.svg')
                                                    </div>
                                                    <div class="model-header__block-birthday">
                                                        <input placeholder="Дата рождения" type="text" class="model-header__block-birthday-input" id="datepickerModelClientMenu">
                                                        <label for="datepickerModelClientMenu">Ваша дата рождения</label>
                                                        @@include('../iconsprite/header/password.svg')
                                                    </div>
                                                    <button class="model-header__block-btn"><a href="#">Войти</a></button>
                                                    <ul class="model-header__block-line">
                                                        <li class="model-header__block-line-hr"></li>
                                                        <li class="model-header__block-line-text">или</li>
                                                        <li class="model-header__block-line-hr"></li>
                                                    </ul>
                                                    <div class="model-header__block-google">
                                                        @@include('../iconsprite/header/google.svg')
                                                        <p>Войти с помощью аккаунта Google</p>
                                                    </div>
                                                    <div class="model-header__block-vk">
                                                        @@include('../iconsprite/header/vk.svg')
                                                        <p>Войти с помощью аккаунта VK</p>
                                                    </div>
                                                    <div class="model-header__block-problem">
                                                        <p>Забыли пароль ?</p>
                                                    </div>
                                                    <div class="model-header__block-authorization">
                                                        <p>Нет учетной записи ? Зарегистрироваться</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <ul class="header__block-menu-list">
                        <li class="header__block-menu-list-phone">
                            <a href="#">
                                @@include('../iconsprite/phone-menu.svg')
                            </a>
                        </li>
                        <li class="header__block-menu-list-search">
                            <a href="#">
                                @@include('../iconsprite/search-menu.svg')
                            </a>
                        </li>
                        <li class="header__block-menu-list-item menu-open">
                            <a href="#">
                                <p>Меню</p>
                                @@include('../iconsprite/open-menu.svg')
                            </a>
                        </li>
                    </ul>
                    <ul class="header__block-menu-contact">
                        <li class="header__block-menu-contact-car">
                            <a href="#">
                                <div class="header__block-menu-contact-bg">
                                    @@include('../iconsprite/car-header.svg')
                                </div>
                            </a>
                        </li>
                        <li class="header__block-menu-contact-instagram">
                            <a href="#">
                                <div class="header__block-menu-contact-bg">
                                    @@include('../iconsprite/instagram-menu.svg')
                                </div>
                            </a>
                        </li>
                        <li class="header__block-menu-contact-vk">
                            <a href="#">
                                <div class="header__block-menu-contact-bg">
                                    @@include('../iconsprite/vk-menu.svg')
                                </div>
                            </a>
                        </li>
                        <li class="header__block-menu-contact-viber">
                            <a href="#">
                                <div class="header__block-menu-contact-bg">
                                    @@include('../iconsprite/viber-menu.svg')
                                </div>
                            </a>
                        </li>
                        <li class="header__block-menu-contact-whatsapp">
                            <a href="#">
                                <div class="header__block-menu-contact-bg">
                                    @@include('../iconsprite/whatsapp-menu.svg')
                                </div>
                            </a>
                        </li>
                        <li class="header__block-menu-contact-telegram">
                            <a href="#">
                                <div class="header__block-menu-contact-bg">
                                    @@include('../iconsprite/telegram-menu.svg')
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section class="media-header">
        <div class="media-header__click"></div>
        <div class="media-header__block">
            <div class="media-header__block-client">
                <a href="index.html">
                    <div class="media-header__block-client-img">
                        <img src="./img/logo.png" alt="logo">
                        <div class="media-header__block-client-img-title">Behappy</div>
                    </div>
                </a>
                <div class="media-header__block-client-select">
                    <div class="media-header__block-client-select-arrow"></div>
                    <div class="media-header__block-client-select-text">Москва</div>
                    <select class="form-select media-header__block-client-select-wrapper display-n" size="3" aria-label="size 3 select example">
                        <option id="mediaMenuSelectItemCity-1" value="Москва">Москва</option>
                        <option id="mediaMenuSelectItemCity-2" value="Пермь">Пермь</option>
                        <option id="mediaMenuSelectItemCity-3" value="Казань">Казань</option>
                        <option id="mediaMenuSelectItemCity-4" value="Сочи">Сочи</option>
                    </select>
                </div>
                <div class="media-header__block-client-search">
                    @@include('../iconsprite/media-search.svg')
                </div>
                <div class="media-header__block-client-shopping basket-open">
                    К
                </div>
                <div class="media-header__block-client-account" id="mediaClientModel">
                    А
                </div>
                <div class="media-header__block-client-menu menu-open">
                    @@include('../iconsprite/menu-media.svg')
                </div>
            </div>
            <div class="media-header__block-catalog">
                <div class="media-header__block-catalog-constructor"><a href="#">Конструтор букетов</a></div>
                <div class="media-header__block-catalog-order"><a href="#">Срочный заказ</p></div>
                <div class="media-header__block-catalog-florist"><a href="#">Букет на вкус флориста</a></div>
            </div>
            <ul class="media-header__block-contact">
                <li class="media-header__block-contact-instagram">
                    <a href="#">
                        <div class="media-header__block-contact-bg">
                            @@include('../iconsprite/instagram-menu.svg')
                        </div>
                    </a>
                </li>
                <li class="media-header__block-contact-vk">
                    <a href="#">
                        <div class="media-header__block-contact-bg">
                            @@include('../iconsprite/vk-menu.svg')
                        </div>
                    </a>
                </li>
                <li class="media-header__block-contact-viber">
                    <a href="#">
                        <div class="media-header__block-contact-bg">
                            @@include('../iconsprite/viber-menu.svg')
                        </div>
                    </a>
                </li>
                <li class="media-header__block-contact-whatsapp">
                    <a href="#">
                        <div class="media-header__block-contact-bg">
                            @@include('../iconsprite/whatsapp-menu.svg')
                        </div>
                    </a>
                </li>
                <li class="media-header__block-contact-telegram">
                    <a href="#">
                        <div class="media-header__block-contact-bg">
                            @@include('../iconsprite/telegram-menu.svg')
                        </div>
                    </a>
                </li>
                <li class="media-header__block-contact-catalog">
                    <div class="media-header__block-contact-catalog-text">Подборка</div>
                    <div class="media-header__block-contact-catalog-arrow"></div>
                    <select class="form-select media-header__block-contact-catalog-select display-n" size="3" aria-label="size 3 select example">
                        <option id="mediaMenuSelectItemCatalog-1" value="День рождения">День рождения</option>
                        <option id="mediaMenuSelectItemCatalog-2" value="8 Марта">8 Марта</option>
                        <option id="mediaMenuSelectItemCatalog-3" value="День рождения">День рождения</option>
                        <option id="mediaMenuSelectItemCatalog-4" value="8 Марта">8 Марта</option>
                        <option id="mediaMenuSelectItemCatalog-5" value="День рождения">День рождения</option>
                        <option id="mediaMenuSelectItemCatalog-6" value="8 Марта">8 Марта</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="media-header__stories display-n">
            <div class="media-header__stories-close"></div>
            <div class="media-header__stories-block">
                <div class="media-header__stories-block-burger menu-open">
                    @@include('../iconsprite/menu-media.svg')
                </div>
                <div class="media-header__stories-block-search">
                    @@include('../iconsprite/media-search.svg')
                </div>
            </div>
            <div class="media-header__stories-slide">
                <div class="swiper menuMediaStories">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">К</div>
                        <div class="swiper-slide">К</div>
                        <div class="swiper-slide">С</div>
                        <div class="swiper-slide">Б</div>
                        <div class="swiper-slide">П</div>
                        <div class="swiper-slide">М</div>
                        <div class="swiper-slide">А</div>
                        <div class="swiper-slide">
                            @@include('../iconsprite/car-header.svg')
                        </div>
                        <div class="swiper-slide">
                            @@include('../iconsprite/instagram.svg')
                        </div>
                        <div class="swiper-slide">
                            @@include('../iconsprite/vk.svg')
                        </div>
                        <div class="swiper-slide">
                            @@include('../iconsprite/viber.svg')
                        </div>
                        <div class="swiper-slide">
                            @@include('../iconsprite/whatsapp.svg')
                        </div>
                        <div class="swiper-slide">
                            @@include('../iconsprite/telegram.svg')
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="media-model-client display-n" id="blockMediaModelClient">
        <div class="media-model-client__block">
            <div class="media-model-client__block-close">
                @@include('../iconsprite/close-model.svg')
            </div>
            <div class="media-model-client__block-title">Войти или <br>
                зарегистрироваться</div>
            <div class="media-model-client__block-email">
                <input type="text" id="mediaModelClientEmail" placeholder="E-mail">
                <label for="mediaModelClientEmail">Ваш email</label>
            </div>
            <div class="media-model-client__block-password">
                <input type="text" id="mediaModelClientPassword" placeholder="Ваш пароль">
                <label for="mediaModelClientPassword">Ваш пароль</label>
            </div>
            <div class="media-model-client__block-birthday">
                <input type="text" id="datepickerMediaModelClientMenu" placeholder="Дата рождения">
                <label for="datepickerMediaModelClientMenu">Ваша дата рождения</label>
            </div>
            <button class="media-model-client__block-btn"><a href="#">Войти</a></button>
            <div class="media-model-client__block-add">
                <div class="media-model-client__block-add-hr"></div>
                <div class="media-model-client__block-add-text">или</div>
                <div class="media-model-client__block-add-hr"></div>
            </div>
            <div class="media-model-client__block-google">
                <a href="#">Войти с помощью аккаунта Google</a>
            </div>
            <div class="media-model-client__block-vk">
                <a href="#">Войти с помощью аккаунта VK</a>
            </div>
            <div class="media-model-client__block-passwords">
                <a href="#">Забыли пароль ?</a>
            </div>
            <div class="media-model-client__block-link">
                <p>Нет учетной записи ?</p>
                <a href="#">Зарегистрироваться</a>
            </div>
        </div>
    </div>