
    <header class="header">
        <div class="containers">
            <div class="menu">
                <div class="containers">
                    <div class="menu__block">
                        <div class="menu__block-title">
                            <a href="#">
                                <div class="menu__block-title-phone">
                                    @@include('../iconsprite/phone-menu.svg')
                                </div>
                            </a>
                            <a href="#">
                                <div class="menu__block-title-logo">
                                    <div class="menu__block-title-logo-item">
                                        <img src="./img/logo.png" alt="logo">
                                    </div>
                                    <div class="menu__block-title-logo-text">
                                        Behappy
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="menu__block-title-close">
                                    <div class="menu-close">
                                        @@include('../iconsprite/close-menu.svg')
                                    </div>
                                    <p>Выход</p>
                                </div>
                            </a>
                        </div>
                        <div class="menu__block-contact">
                            <div class="menu__block-contact-fon">
                                <div class="menu__block-contact-fon-black">
                                    <img src="./img/catalog/rgb-circle.png" alt="">
                                </div>
                                <div class="menu__block-contact-fon-white">
                                    <img src="./img/catalog/rgb-circle.png" alt="">
                                </div>
                                <div class="menu__block-contact-fon-text">Поменять цветовую тему сайта</div>
                            </div>
                            <ul class="menu__block-contact-social">
                                <li class="menu__block-contact-social-instagram">
                                    <a href="#">
                                        <div class="menu__block-contact-social-bg">
                                            @@include('../iconsprite/instagram.svg')
                                        </div>
                                    </a>
                                </li>
                                <li class="menu__block-contact-social-vk">
                                    <a href="#">
                                        <div class="menu__block-contact-social-bg">
                                            @@include('../iconsprite/vk.svg')
                                        </div>
                                    </a>
                                </li>
                                <li class="menu__block-contact-social-viber">
                                    <a href="#">
                                        <div class="menu__block-contact-social-bg">
                                            @@include('../iconsprite/viber.svg')
                                        </div>
                                    </a>
                                </li>
                                <li class="menu__block-contact-social-whatsapp">
                                    <a href="#">
                                        <div class="menu__block-contact-social-bg">
                                            @@include('../iconsprite/whatsapp.svg')
                                        </div>
                                    </a>
                                </li>
                                <li class="menu__block-contact-social-telegram">
                                    <a href="#">
                                        <div class="menu__block-contact-social-bg">
                                            @@include('../iconsprite/telegram.svg')
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <ul class="menu__block-catalog">
                            <li class="menu__block-catalog-bouquet">
                                <div class="menu__block-catalog-bouquet-1">
                                    <div class="menu__block-catalog-bouquet-2">
                                        <p>Конструктор букетов</p>
                                        @@include('../iconsprite/bouquet-1.svg')
                                        @@include('../iconsprite/bouquet-2.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-florist">
                                <div class="menu__block-catalog-florist-1">
                                    <div class="menu__block-catalog-florist-2">
                                        <p>Букет на вкус флориста</p>
                                        @@include('../iconsprite/florist.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-add">
                                <div class="menu__block-catalog-add-1">
                                    <div class="menu__block-catalog-add-2">
                                        <p>Добавить к букету</p>
                                        @@include('../iconsprite/add-1.svg')
                                        @@include('../iconsprite/add-2.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-catalog">
                                <div class="menu__block-catalog-catalog-1">
                                    <div class="menu__block-catalog-catalog-2">
                                        <p>Подборки</p>
                                        @@include('../iconsprite/catalog.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-manager">
                                <div class="menu__block-catalog-manager-1">
                                    <div class="menu__block-catalog-manager-2">
                                        <p>Благодарность менеджеру</p>
                                        @@include('../iconsprite/manager.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-new">
                                <div class="menu__block-catalog-new-1">
                                    <div class="menu__block-catalog-new-2">
                                        <p>Новости и акции</p>
                                        @@include('../iconsprite/new.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-order">
                                <div class="menu__block-catalog-order-1">
                                    <div class="menu__block-catalog-order-2">
                                        <p>Быстрый заказ</p>
                                        @@include('../iconsprite/order.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-client">
                                <div class="menu__block-catalog-client-1">
                                    <div class="menu__block-catalog-client-2">
                                        <p>Личный кабинет</p>
                                        @@include('../iconsprite/client.svg')
                                    </div>
                                </div>
                            </li>
                            <li class="menu__block-catalog-block">
                                <div class="menu__block-catalog-block-1">
                                    <div class="menu__block-catalog-block-2">
                                        <p>Цветочная подписка</p>
                                        @@include('../iconsprite/block.svg')
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__block">
                <a href="index.html">
                    <div class="header__block-logo">
                        <div class="header__block-logo-item">
                            @@include('../iconsprite/logo.svg')
                        </div>
                        <div class="header__block-logo-title">
                            Behappy
                        </div>
                    </div>
                </a>
                <ul class="header__block-list">
                    <li class="header__block-list-item">
                        <div class="header__block-list-btn-g">
                            <div class="header__block-list-btn-g-1">
                                <div class="header__block-list-btn-g-2">
                                    <select id="header" class="header__block-model-city">
                                        <option value="Москва" rel="icon-temperature">Москва</option>
                                        <option value="Пермь">Пермь</option>
                                        <option value="Киров">Киров</option>
                                    </select> 
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="header__block-list-item">
                        <a href="">
                            <div class="header__block-list-btn-y">
                                <div class="header__block-list-btn-y-1">
                                    <div class="header__block-list-btn-y-2">
                                        <p>
                                            Подборки
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="header__block-list-item">
                            <div class="header__block-list-block">
                                <a href="#">
                                    <div class="header__block-list-block-lg">
                                        <div class="header__block-list-block-lg-1">
                                            <div class="header__block-list-block-lg-2">
                                                <p>
                                                    Б
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="header__block-list-block-o">
                                        <div class="header__block-list-block-o-1">
                                            <div class="header__block-list-block-o-2">
                                                У
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="header__block-list-block-g">
                                        <div class="header__block-list-block-g-1">
                                            <div class="header__block-list-block-g-2">
                                                К
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                    </li>
                    <li class="header__block-list-item">
                        <a href="">
                            <div class="header__block-list-btn-b">
                                <div class="header__block-list-btn-b-1">
                                    <div class="header__block-list-btn-b-2">
                                        <p>
                                            Конструктор букета
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="header__block-list-item">
                        <a href="">
                            <div class="header__block-list-btn-p">
                                <div class="header__block-list-btn-p-1">
                                    <div class="header__block-list-btn-p-2">
                                        <p>
                                            Букет на вкус флориста
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="header__block-list-item">
                        <a href="order.html">
                            <div class="header__block-list-btn-r">
                                <div class="header__block-list-btn-r-1">
                                    <div class="header__block-list-btn-r-2">
                                        <p>
                                            Срочный заказ
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="header__block-menu">
                    <a href="#">
                        <div class="header__block-menu-client">
                            <div class="header__block-menu-client-1">
                                <div class="header__block-menu-client-2">
                                    <p>
                                        А
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <ul class="header__block-menu-list">
                        <li class="header__block-menu-list-phone">
                            <a href="#">
                                @@include('../iconsprite/phone-menu.svg')
                            </a>
                        </li>
                        <li class="header__block-menu-list-search">
                            <a href="#">
                                @@include('../iconsprite/search-menu.svg')
                            </a>
                        </li>
                        <li class="header__block-menu-list-item menu-open">
                            <a href="#">
                                <p>Меню</p>
                                @@include('../iconsprite/open-menu.svg')
                            </a>
                        </li>
                    </ul>
                    <ul class="header__block-menu-contact">
                        <li class="header__block-menu-contact-instagram">
                            <a href="#">
                                <div class="header__block-menu-contact-bg">
                                    @@include('../iconsprite/instagram-menu.svg')
                                </div>
                            </a>
                        </li>
                        <li class="header__block-menu-contact-vk">
                            <a href="#">
                                <div class="header__block-menu-contact-bg">
                                    @@include('../iconsprite/vk-menu.svg')
                                </div>
                            </a>
                        </li>
                        <li class="header__block-menu-contact-viber">
                            <a href="#">
                                <div class="header__block-menu-contact-bg">
                                    @@include('../iconsprite/viber-menu.svg')
                                </div>
                            </a>
                        </li>
                        <li class="header__block-menu-contact-whatsapp">
                            <a href="#">
                                <div class="header__block-menu-contact-bg">
                                    @@include('../iconsprite/whatsapp-menu.svg')
                                </div>
                            </a>
                        </li>
                        <li class="header__block-menu-contact-telegram">
                            <a href="#">
                                <div class="header__block-menu-contact-bg">
                                    @@include('../iconsprite/telegram-menu.svg')
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section class="media-header">
        <div class="media-header__block">
            <div class="media-header__block-client">
                <div class="media-header__block-client-img">
                    <img src="./img/logo.png" alt="logo">
                    <div class="media-header__block-client-img-title">Behappy</div>
                </div>
                <div class="media-header__block-client-select">
                    <select id="media-city" class="media-header__block-client-select-city">
                        <option value="Москва" rel="icon-temperature">Москва</option>
                        <option value="Пермь">Пермь</option>
                        <option value="Киров">Киров</option>
                    </select> 
                </div>
                <div class="media-header__block-client-search">
                    @@include('../iconsprite/media-search.svg')
                </div>
                <div class="media-header__block-client-shopping">
                    @@include('../iconsprite/shopping-media.svg')
                </div>
                <div class="media-header__block-client-account">
                    @@include('../iconsprite/client-media.svg')
                </div>
                <div class="media-header__block-client-menu menu-open">
                    @@include('../iconsprite/menu-media.svg')
                </div>
            </div>
            <div class="media-header__block-catalog">
                <div class="media-header__block-catalog-constructor"><a href="#">Конструтор букетов</a></div>
                <div class="media-header__block-catalog-order"><a href="#">Срочный заказ</p></div>
                <div class="media-header__block-catalog-florist"><a href="#">Букет на вкус флориста</a></div>
            </div>
            <ul class="media-header__block-contact">
                <li class="media-header__block-contact-instagram">
                    <a href="#">
                        <div class="media-header__block-contact-bg">
                            @@include('../iconsprite/instagram-menu.svg')
                        </div>
                    </a>
                </li>
                <li class="media-header__block-contact-vk">
                    <a href="#">
                        <div class="media-header__block-contact-bg">
                            @@include('../iconsprite/vk-menu.svg')
                        </div>
                    </a>
                </li>
                <li class="media-header__block-contact-viber">
                    <a href="#">
                        <div class="media-header__block-contact-bg">
                            @@include('../iconsprite/viber-menu.svg')
                        </div>
                    </a>
                </li>
                <li class="media-header__block-contact-whatsapp">
                    <a href="#">
                        <div class="media-header__block-contact-bg">
                            @@include('../iconsprite/whatsapp-menu.svg')
                        </div>
                    </a>
                </li>
                <li class="media-header__block-contact-telegram">
                    <a href="#">
                        <div class="media-header__block-contact-bg">
                            @@include('../iconsprite/telegram-menu.svg')
                        </div>
                    </a>
                </li>
                <li class="media-header__block-contact-catalog">
                    <select id="media-catalog" class="media-header__block-client-select-city">
                        <option value="Подборки" rel="icon-temperature">Подборки</option>
                        <option value="Подборки">Подборки</option>
                        <option value="Подборки">Подборки</option>
                    </select> 
                </li>
            </ul>
        </div>
    </section>