<div class="modal fade" id="exampleModal-toy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content model-toy">
            <button type="button" class="btn-close model-toy-btn" data-bs-dismiss="modal" aria-label="Close">
                @@include('../iconsprite/close-model.svg')
            </button>
            <div class="model-toy-slider">
                <div class="swiper modelSliderToy">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="model-toy__block">
                                <div class="model-toy__block-wrapper">
                                    <div class="model-toy__block-wrapper-banner">
                                        @@include('../iconsprite/model-toy/width.svg')
                                    </div>
                                    <div class="model-toy__block-wrapper-slider">
                                        <div class="swiper modelToyWrapperSlider">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide"><div class="model-toy__block-wrapper-slider-item"></div></div>
                                                <div class="swiper-slide"><div class="model-toy__block-wrapper-slider-item"></div></div>
                                                <div class="swiper-slide"><div class="model-toy__block-wrapper-slider-item"></div></div>
                                                <div class="swiper-slide"><div class="model-toy__block-wrapper-slider-item"></div></div>
                                            </div>
                                        </div>
                                        <div class="swiper-control">
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                    </div>
                                    <div class="model-toy__block-wrapper-btns">
                                        <div class="model-toy__block-wrapper-count">
                                            <div class="model-toy__block-wrapper-counts">
                                                <div class="model-toy__block-wrapper-counts-minus">@@include('../iconsprite/model-toy/minus.svg')</div>
                                                <div class="model-toy__block-wrapper-counts-sum">1</div>
                                                <div class="model-toy__block-wrapper-counts-plus">@@include('../iconsprite/model-toy/plus.svg')</div>
                                            </div>
                                            <button class="model-toy__block-wrapper-pay"><a href="#">Купить сейчас</a></button>
                                        </div>
                                        <button class="model-toy__block-wrapper-add"><a href="#">Добавить в корзину</a></button>
                                    </div>
                                </div>
                                <div class="model-toy__block-info">
                                    <div class="model-toy__block-info-title">Мягкие игрушки</div>
                                    <div class="model-toy__block-info-price">
                                        <div class="model-toy__block-info-price-title">Цена</div>
                                        <div class="model-toy__block-info-prices">
                                            <div class="model-toy__block-info-price-prev">5340₽ </div>
                                            <div class="model-toy__block-info-price-last">2990₽ </div>
                                        </div>
                                    </div>
                                    <div class="model-toy__block-info-add">
                                        <div class="model-toy__block-info-add-heart">
                                            <div class="model-toy__block-info-add-bg">@@include('../iconsprite/model-toy/heart.svg')</div>
                                            <p>Добавить в избранное</p>
                                        </div>
                                        <div class="model-toy__block-info-add-balls">
                                            <div class="model-toy__block-info-add-bg">@@include('../iconsprite/model-toy/money.svg')</div>
                                            <p>+160 баллов </p>
                                        </div>
                                        <div class="model-toy__block-info-add-car">
                                            <div class="model-toy__block-info-add-bg">@@include('../iconsprite/model-toy/car.svg')</div>
                                            <p>У вас всегда бесплатная доставка по городу </p>
                                        </div>
                                        <div class="model-toy__block-info-add-list">
                                            <div class="model-toy__block-info-add-bg">@@include('../iconsprite/model-catalog/list.svg')</div>
                                            <p>В случае доставки товара ненадлежащего качества 
                                                сообщите нам и мы его заменим</p>
                                        </div>
                                    </div>
                                    <div class="model-toy__block-info-hr"></div>
                                    <div class="model-toy__block-info-calendar">
                                        <div class="model-toy__block-info-calendar-title">Календарь скидок</div>
                                        <div class="model-toy__block-info-calendar-btn"><p>Календарь скидок</p></div>
                                        <div class="model-toy__block-info-calendar-item display-n">
                                            <div id="datepickerToy-1"></div>
                                            
                                        </div>
                                    </div>
                                    <div class="model-toy__block-info-benefit">
                                        <div class="model-toy__block-info-benefit-title">Получите  выгоду</div>
                                        <p>При оплате заявки заблаговременно <br>
                                            Вам доступна скидка, укажите <br>
                                            желаемую дату.<br>
                                            <br>
                                            От 7 дней - 5%<br>
                                            От 14 дней – 10%<br>
                                            От 21 дня - 15%</p>
                                    </div>
                                    <div class="model-toy__block-info-hr"></div>

                                    <div class="model-toy__block-info-description">
                                        <div class="model-toy__block-info-description-title">Описание</div>
                                        <p>Игрушка осьминог перевертыш стала популярна благодаря TikTok - ежедневно на Ozon ее покупают более 1000 раз. 
                                            Ты тоже хочешь быть в тренде и ищешь популярный подарок на день рождение или просто так? 
                                            <br>
                                            Тогда осьминоги вывернушки как раз 
                                            для тебя! Двусторонний осьминог заставит улыбнуться мальчика, девочку 
                                            и даже взрослого человека!</p>
                                    </div>

                                    <div class="model-toy__block-info-hr"></div>
                                    <div class="model-toy__block-info-reviews">
                                        <div class="model-toy__block-info-reviews-title">Отзывы продукта</div>
                                        <div class="model-toy__block-info-reviews-rep">
                                            <div class="model-toy__block-info-reviews-star">
                                                @@include('../iconsprite/model-toy/star.svg')
                                                @@include('../iconsprite/model-toy/star.svg')
                                                @@include('../iconsprite/model-toy/star.svg')
                                                @@include('../iconsprite/model-toy/star.svg')
                                                @@include('../iconsprite/model-toy/star-na.svg')
                                            </div>
                                            <div class="model-toy__block-info-reviews-text">4.5   (5 обзоров)</div>
                                        </div>
                                    </div>
                                    <div class="model-toy__block-info-client">
                                        <div class="model-toy__block-info-client-contact">
                                            <div class="model-toy__block-info-client-contact-img">@@include('../iconsprite/model-toy/img.svg')</div>
                                            <div class="model-toy__block-info-client-contact-names">
                                                <div class="model-toy__block-info-client-contact-name">Сергей Воробьев</div>
                                                <div class="model-toy__block-info-client-contact-star">
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star-na.svg')
                                                </div>
                                            </div>
                                        </div>
                                        <div class="model-toy__block-info-client-message">Игрушка осьминог перевертыш стала популярна благодаря TikTok - ежедневно на Ozon ее покупают более 1000 раз. 
                                            Ты тоже хочешь быть в тренде и ищешь популярный подарок на день рождение или просто так? </div>
                                        <ul class="model-toy__block-info-client-img">
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                        </ul>
                                        <div class="model-toy__block-info-client-date">Июль 10, 2021</div>
                                    </div>
                                    <div class="model-toy__block-info-client">
                                        <div class="model-toy__block-info-client-contact">
                                            <div class="model-toy__block-info-client-contact-img">@@include('../iconsprite/model-toy/img.svg')</div>
                                            <div class="model-toy__block-info-client-contact-names">
                                                <div class="model-toy__block-info-client-contact-name">Сергей Воробьев</div>
                                                <div class="model-toy__block-info-client-contact-star">
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star-na.svg')
                                                </div>
                                            </div>
                                        </div>
                                        <div class="model-toy__block-info-client-message">Игрушка осьминог перевертыш стала популярна благодаря TikTok - ежедневно на Ozon ее покупают более 1000 раз. 
                                            Ты тоже хочешь быть в тренде и ищешь популярный подарок на день рождение или просто так? </div>
                                        <ul class="model-toy__block-info-client-img">
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                        </ul>
                                        <div class="model-toy__block-info-client-date">Июль 10, 2021</div>
                                    </div>
                                </div>
                                <div class="model-toy__block-wrapper-btns-media">
                                    <div class="model-toy__block-wrapper-count">
                                        <div class="model-toy__block-wrapper-counts">
                                            <div class="model-toy__block-wrapper-counts-minus">@@include('../iconsprite/model-toy/minus.svg')</div>
                                            <div class="model-toy__block-wrapper-counts-sum">1</div>
                                            <div class="model-toy__block-wrapper-counts-plus">@@include('../iconsprite/model-toy/plus.svg')</div>
                                        </div>
                                        <button class="model-toy__block-wrapper-pay"><a href="#">Купить сейчас</a></button>
                                    </div>
                                    <button class="model-toy__block-wrapper-add"><a href="#">Добавить в корзину</a></button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="model-toy__block">
                                <div class="model-toy__block-wrapper">
                                    <div class="model-toy__block-wrapper-banner"></div>
                                    <div class="model-toy__block-wrapper-slider">
                                        <div class="swiper modelToyWrapperSlider">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide"><div class="model-toy__block-wrapper-slider-item"></div></div>
                                                <div class="swiper-slide"><div class="model-toy__block-wrapper-slider-item"></div></div>
                                                <div class="swiper-slide"><div class="model-toy__block-wrapper-slider-item"></div></div>
                                                <div class="swiper-slide"><div class="model-toy__block-wrapper-slider-item"></div></div>
                                            </div>
                                        </div>
                                        <div class="swiper-control">
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                    </div>
                                    <div class="model-toy__block-wrapper-btns">
                                        <div class="model-toy__block-wrapper-count">
                                            <div class="model-toy__block-wrapper-counts">
                                                <div class="model-toy__block-wrapper-counts-minus">@@include('../iconsprite/model-toy/minus.svg')</div>
                                                <div class="model-toy__block-wrapper-counts-sum">1</div>
                                                <div class="model-toy__block-wrapper-counts-plus">@@include('../iconsprite/model-toy/plus.svg')</div>
                                            </div>
                                            <button class="model-toy__block-wrapper-pay"><a href="#">Купить сейчас</a></button>
                                        </div>
                                        <button class="model-toy__block-wrapper-add"><a href="#">Добавить в корзину</a></button>
                                    </div>
                                </div>
                                <div class="model-toy__block-info">
                                    <div class="model-toy__block-info-title">Шары</div>
                                    <div class="model-toy__block-info-price">
                                        <div class="model-toy__block-info-price-title">Цена</div>
                                        <div class="model-toy__block-info-prices">
                                            <div class="model-toy__block-info-price-prev">5340₽ </div>
                                            <div class="model-toy__block-info-price-last">2990₽ </div>
                                        </div>
                                    </div>
                                    
                                    <div class="model-toy__block-info-add">
                                        <div class="model-toy__block-info-add-heart">
                                            <div class="model-toy__block-info-add-bg">@@include('../iconsprite/model-toy/heart.svg')</div>
                                            <p>Добавить в избранное</p>
                                        </div>
                                        <div class="model-toy__block-info-add-balls">
                                            <div class="model-toy__block-info-add-bg">@@include('../iconsprite/model-toy/money.svg')</div>
                                            <p>+160 баллов </p>
                                        </div>
                                        <div class="model-toy__block-info-add-car">
                                            <div class="model-toy__block-info-add-bg">@@include('../iconsprite/model-toy/car.svg')</div>
                                            <p>У вас всегда бесплатная доставка по городу </p>
                                        </div>
                                    </div>
                                    <div class="model-toy__block-info-hr"></div>
                                    <div class="model-toy__block-info-calendar">
                                        <div class="model-toy__block-info-calendar-title">Календарь скидок</div>
                                        <div class="model-toy__block-info-calendar-btn"><p>Календарь скидок</p></div>
                                        <div class="model-toy__block-info-calendar-item display-n">
                                            <div id="datepickerToy-2"></div>
                                            
                                        </div>
                                    </div>
                                    <div class="model-toy__block-info-benefit">
                                        <div class="model-toy__block-info-benefit-title">Получите  выгоду</div>
                                        <p>При оплате заявки заблаговременно <br>
                                            Вам доступна скидка, укажите <br>
                                            желаемую дату.<br>
                                            <br>
                                            От 7 дней - 5%<br>
                                            От 14 дней – 10%<br>
                                            От 21 дня - 15%</p>
                                    </div>
                                    <div class="model-toy__block-info-hr"></div>

                                    <div class="model-toy__block-info-description">
                                        <div class="model-toy__block-info-description-title">Описание</div>
                                        <p>Игрушка осьминог перевертыш стала популярна благодаря TikTok - ежедневно на Ozon ее покупают более 1000 раз. 
                                            Ты тоже хочешь быть в тренде и ищешь популярный подарок на день рождение или просто так? 
                                            <br>
                                            Тогда осьминоги вывернушки как раз 
                                            для тебя! Двусторонний осьминог заставит улыбнуться мальчика, девочку 
                                            и даже взрослого человека!</p>
                                    </div>

                                    <div class="model-toy__block-info-hr"></div>
                                    <div class="model-toy__block-info-reviews">
                                        <div class="model-toy__block-info-reviews-title">Отзывы продукта</div>
                                        <div class="model-toy__block-info-reviews-rep">
                                            <div class="model-toy__block-info-reviews-star">
                                                @@include('../iconsprite/model-toy/star.svg')
                                                @@include('../iconsprite/model-toy/star.svg')
                                                @@include('../iconsprite/model-toy/star.svg')
                                                @@include('../iconsprite/model-toy/star.svg')
                                                @@include('../iconsprite/model-toy/star-na.svg')
                                            </div>
                                            <div class="model-toy__block-info-reviews-text">4.5   (5 обзоров)</div>
                                        </div>
                                    </div>
                                    <div class="model-toy__block-info-client">
                                        <div class="model-toy__block-info-client-contact">
                                            <div class="model-toy__block-info-client-contact-img">@@include('../iconsprite/model-toy/img.svg')</div>
                                            <div class="model-toy__block-info-client-contact-names">
                                                <div class="model-toy__block-info-client-contact-name">Сергей Воробьев</div>
                                                <div class="model-toy__block-info-client-contact-star">
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star-na.svg')
                                                </div>
                                            </div>
                                        </div>
                                        <div class="model-toy__block-info-client-message">Игрушка осьминог перевертыш стала популярна благодаря TikTok - ежедневно на Ozon ее покупают более 1000 раз. 
                                            Ты тоже хочешь быть в тренде и ищешь популярный подарок на день рождение или просто так? </div>
                                        <ul class="model-toy__block-info-client-img">
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                        </ul>
                                        <div class="model-toy__block-info-client-date">Июль 10, 2021</div>
                                    </div>
                                    <div class="model-toy__block-info-client">
                                        <div class="model-toy__block-info-client-contact">
                                            <div class="model-toy__block-info-client-contact-img">@@include('../iconsprite/model-toy/img.svg')</div>
                                            <div class="model-toy__block-info-client-contact-names">
                                                <div class="model-toy__block-info-client-contact-name">Сергей Воробьев</div>
                                                <div class="model-toy__block-info-client-contact-star">
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star-na.svg')
                                                </div>
                                            </div>
                                        </div>
                                        <div class="model-toy__block-info-client-message">Игрушка осьминог перевертыш стала популярна благодаря TikTok - ежедневно на Ozon ее покупают более 1000 раз. 
                                            Ты тоже хочешь быть в тренде и ищешь популярный подарок на день рождение или просто так? </div>
                                        <ul class="model-toy__block-info-client-img">
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                        </ul>
                                        <div class="model-toy__block-info-client-date">Июль 10, 2021</div>
                                    </div>
                                </div>
                                <div class="model-toy__block-wrapper-btns-media">
                                    <div class="model-toy__block-wrapper-count">
                                        <div class="model-toy__block-wrapper-counts">
                                            <div class="model-toy__block-wrapper-counts-minus">@@include('../iconsprite/model-toy/minus.svg')</div>
                                            <div class="model-toy__block-wrapper-counts-sum">1</div>
                                            <div class="model-toy__block-wrapper-counts-plus">@@include('../iconsprite/model-toy/plus.svg')</div>
                                        </div>
                                        <button class="model-toy__block-wrapper-pay"><a href="#">Купить сейчас</a></button>
                                    </div>
                                    <button class="model-toy__block-wrapper-add"><a href="#">Добавить в корзину</a></button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="model-toy__block">
                                <div class="model-toy__block-wrapper">
                                    <div class="model-toy__block-wrapper-banner"></div>
                                    <div class="model-toy__block-wrapper-slider">
                                        <div class="swiper modelToyWrapperSlider">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide"><div class="model-toy__block-wrapper-slider-item"></div></div>
                                                <div class="swiper-slide"><div class="model-toy__block-wrapper-slider-item"></div></div>
                                                <div class="swiper-slide"><div class="model-toy__block-wrapper-slider-item"></div></div>
                                                <div class="swiper-slide"><div class="model-toy__block-wrapper-slider-item"></div></div>
                                            </div>
                                        </div>
                                        <div class="swiper-control">
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                    </div>
                                    <div class="model-toy__block-wrapper-btns">
                                        <div class="model-toy__block-wrapper-count">
                                            <div class="model-toy__block-wrapper-counts">
                                                <div class="model-toy__block-wrapper-counts-minus">@@include('../iconsprite/model-toy/minus.svg')</div>
                                                <div class="model-toy__block-wrapper-counts-sum">1</div>
                                                <div class="model-toy__block-wrapper-counts-plus">@@include('../iconsprite/model-toy/plus.svg')</div>
                                            </div>
                                            <button class="model-toy__block-wrapper-pay"><a href="#">Купить сейчас</a></button>
                                        </div>
                                        <button class="model-toy__block-wrapper-add"><a href="#">Добавить в корзину</a></button>
                                    </div>
                                </div>
                                <div class="model-toy__block-info">
                                    <div class="model-toy__block-info-title">Шары</div>
                                    <div class="model-toy__block-info-price">
                                        <div class="model-toy__block-info-price-title">Цена</div>
                                        <div class="model-toy__block-info-prices">
                                            <div class="model-toy__block-info-price-prev">5340₽ </div>
                                            <div class="model-toy__block-info-price-last">2990₽ </div>
                                        </div>
                                    </div>
                                    
                                    <div class="model-toy__block-info-add">
                                        <div class="model-toy__block-info-add-heart">
                                            <div class="model-toy__block-info-add-bg">@@include('../iconsprite/model-toy/heart.svg')</div>
                                            <p>Добавить в избранное</p>
                                        </div>
                                        <div class="model-toy__block-info-add-balls">
                                            <div class="model-toy__block-info-add-bg">@@include('../iconsprite/model-toy/money.svg')</div>
                                            <p>+160 баллов </p>
                                        </div>
                                        <div class="model-toy__block-info-add-car">
                                            <div class="model-toy__block-info-add-bg">@@include('../iconsprite/model-toy/car.svg')</div>
                                            <p>У вас всегда бесплатная доставка по городу </p>
                                        </div>
                                    </div>
                                    <div class="model-toy__block-info-hr"></div>
                                    <div class="model-toy__block-info-calendar">
                                        <div class="model-toy__block-info-calendar-title">Календарь скидок</div>
                                        <div class="model-toy__block-info-calendar-btn"><p>Календарь скидок</p></div>
                                        <div class="model-toy__block-info-calendar-item display-n">
                                            <div id="datepickerToy-3"></div>
                                            
                                        </div>
                                    </div>
                                    <div class="model-toy__block-info-benefit">
                                        <div class="model-toy__block-info-benefit-title">Получите  выгоду</div>
                                        <p>При оплате заявки заблаговременно <br>
                                            Вам доступна скидка, укажите <br>
                                            желаемую дату.<br>
                                            <br>
                                            От 7 дней - 5%<br>
                                            От 14 дней – 10%<br>
                                            От 21 дня - 15%</p>
                                    </div>
                                    <div class="model-toy__block-info-hr"></div>

                                    <div class="model-toy__block-info-description">
                                        <div class="model-toy__block-info-description-title">Описание</div>
                                        <p>Игрушка осьминог перевертыш стала популярна благодаря TikTok - ежедневно на Ozon ее покупают более 1000 раз. 
                                            Ты тоже хочешь быть в тренде и ищешь популярный подарок на день рождение или просто так? 
                                            <br>
                                            Тогда осьминоги вывернушки как раз 
                                            для тебя! Двусторонний осьминог заставит улыбнуться мальчика, девочку 
                                            и даже взрослого человека!</p>
                                    </div>

                                    <div class="model-toy__block-info-hr"></div>
                                    <div class="model-toy__block-info-reviews">
                                        <div class="model-toy__block-info-reviews-title">Отзывы продукта</div>
                                        <div class="model-toy__block-info-reviews-rep">
                                            <div class="model-toy__block-info-reviews-star">
                                                @@include('../iconsprite/model-toy/star.svg')
                                                @@include('../iconsprite/model-toy/star.svg')
                                                @@include('../iconsprite/model-toy/star.svg')
                                                @@include('../iconsprite/model-toy/star.svg')
                                                @@include('../iconsprite/model-toy/star-na.svg')
                                            </div>
                                            <div class="model-toy__block-info-reviews-text">4.5   (5 обзоров)</div>
                                        </div>
                                    </div>
                                    <div class="model-toy__block-info-client">
                                        <div class="model-toy__block-info-client-contact">
                                            <div class="model-toy__block-info-client-contact-img">@@include('../iconsprite/model-toy/img.svg')</div>
                                            <div class="model-toy__block-info-client-contact-names">
                                                <div class="model-toy__block-info-client-contact-name">Сергей Воробьев</div>
                                                <div class="model-toy__block-info-client-contact-star">
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star-na.svg')
                                                </div>
                                            </div>
                                        </div>
                                        <div class="model-toy__block-info-client-message">Игрушка осьминог перевертыш стала популярна благодаря TikTok - ежедневно на Ozon ее покупают более 1000 раз. 
                                            Ты тоже хочешь быть в тренде и ищешь популярный подарок на день рождение или просто так? </div>
                                        <ul class="model-toy__block-info-client-img">
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                        </ul>
                                        <div class="model-toy__block-info-client-date">Июль 10, 2021</div>
                                    </div>
                                    <div class="model-toy__block-info-client">
                                        <div class="model-toy__block-info-client-contact">
                                            <div class="model-toy__block-info-client-contact-img">@@include('../iconsprite/model-toy/img.svg')</div>
                                            <div class="model-toy__block-info-client-contact-names">
                                                <div class="model-toy__block-info-client-contact-name">Сергей Воробьев</div>
                                                <div class="model-toy__block-info-client-contact-star">
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star.svg')
                                                    @@include('../iconsprite/model-toy/star-na.svg')
                                                </div>
                                            </div>
                                        </div>
                                        <div class="model-toy__block-info-client-message">Игрушка осьминог перевертыш стала популярна благодаря TikTok - ежедневно на Ozon ее покупают более 1000 раз. 
                                            Ты тоже хочешь быть в тренде и ищешь популярный подарок на день рождение или просто так? </div>
                                        <ul class="model-toy__block-info-client-img">
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                            <li class="model-toy__block-info-client-img-item">@@include('../iconsprite/model-toy/img.svg')</li>
                                        </ul>
                                        <div class="model-toy__block-info-client-date">Июль 10, 2021</div>
                                    </div>
                                </div>
                                <div class="model-toy__block-wrapper-btns-media">
                                    <div class="model-toy__block-wrapper-count">
                                        <div class="model-toy__block-wrapper-counts">
                                            <div class="model-toy__block-wrapper-counts-minus">@@include('../iconsprite/model-toy/minus.svg')</div>
                                            <div class="model-toy__block-wrapper-counts-sum">1</div>
                                            <div class="model-toy__block-wrapper-counts-plus">@@include('../iconsprite/model-toy/plus.svg')</div>
                                        </div>
                                        <button class="model-toy__block-wrapper-pay"><a href="#">Купить сейчас</a></button>
                                    </div>
                                    <button class="model-toy__block-wrapper-add"><a href="#">Добавить в корзину</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-controls">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>