<div class="model-share display-n">
    <div class="model-share__block">
        <button class="model-share__block-close" id="modelShareClose">
            @@include('../iconsprite/close-model.svg')
        </button>
        <div class="model-share__block-contact">
            <div class="model-share__block-contact-item">
                <div class="model-share__block-contact-item-icons">
                    <a href="#">
                        @@include('../iconsprite/modelShare/instagram.svg')
                    </a>
                </div>
                <div class="model-share__block-contact-item-title">
                    Instagram
                </div>
            </div>
            <div class="model-share__block-contact-item">
                <div class="model-share__block-contact-item-icons">
                    <a href="#">
                        @@include('../iconsprite/modelShare/vk.svg')
                    </a>
                </div>
                <div class="model-share__block-contact-item-title">
                    VK
                </div>
            </div>
            <div class="model-share__block-contact-item">
                <div class="model-share__block-contact-item-icons">
                    <a href="#">
                        @@include('../iconsprite/modelShare/viber.svg')
                    </a>
                </div>
                <div class="model-share__block-contact-item-title">
                    Viber
                </div>
            </div>
            <div class="model-share__block-contact-item">
                <div class="model-share__block-contact-item-icons">
                    <a href="#">
                        @@include('../iconsprite/modelShare/whatsapp.svg')
                    </a>
                </div>
                <div class="model-share__block-contact-item-title">
                    WhatsApp
                </div>
            </div>
            <div class="model-share__block-contact-item">
                <div class="model-share__block-contact-item-icons">
                    <a href="#">
                        @@include('../iconsprite/modelShare/telegram.svg')
                    </a>
                </div>
                <div class="model-share__block-contact-item-title">
                    Telegram
                </div>
            </div>
            <div class="model-share__block-contact-item">
                <div class="model-share__block-contact-item-icons">
                    <a href="#">
                        @@include('../iconsprite/modelShare/email.svg')
                    </a>
                </div>
                <div class="model-share__block-contact-item-title">
                    Почта
                </div>
            </div>
        </div>
        <div class="model-share__block-link">
            <div class="model-share__block-link-title">Или поделитесь ссылкой</div>
            <div class="model-share__block-link-block">
                <input type="text" class="model-share__block-link-block-input" value="https://www.figma.com/" id="modelShareCopy">
                <button class="model-share__block-link-block-copy" onclick="modelShareCopy()">
                    @@include('../iconsprite/modelShare/copy.svg')
                </button>
            </div>
        </div>
    </div>
</div>