<div class="model-notice display-n">
    <div class="model-notice__block">
        <button class="model-notice__block-close">@@include('../iconsprite/model-notic/close.svg')</button>
        <div class="model-notice__block-icons">@@include('../iconsprite/model-notic/notice.svg')</div>
        <div class="model-notice__block-text">
            <div class="model-notice__block-text-title">У вас новое уведомление</div>
            <div class="model-notice__block-text-add">
                <div class="model-notice__block-text-city">Краснодар</div>
                <div class="model-notice__block-text-count">18 товаров</div>
            </div>
            <div class="model-notice__block-text-update"><a href="#">изменить</a></div>
        </div>
    </div>
</div>