<div class="model-calendar display-n">
    <div class="modal-content ord-quiz__block-data-address-date-model">
        <button type="button" id="modelCalendarCloseButton" class="btn-close ord-quiz__block-data-address-date-model-close">
            @@include('../iconsprite/close-model.svg')
        </button>
        <div class="ord-quiz__block-data-address-date-model-title">Выберите дату</div>
        <div id="datepickerOrderQuiz" class="ord-quiz__block-data-address-date-model-calendar"></div>
        <div class="ord-quiz__block-data-address-date-model-add">Получите  выгоду</div>
        <div class="ord-quiz__block-data-address-date-model-text">
            При оплате заявки заблаговременно Вам доступна скидка, наша платформа рассчитает её самостоятельно для всех товаров , выберите желаемую дату исполнения.
            <br><b></b>
            От 7 дней - 5% <br>
            От 14 дней – 10% <br>
            От 21 дня - 15%
        </div>
    </div>
</div>