@media (max-width: 1350px) {
    .quiz-content__block-add-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 15px;
    }
    .quiz-content__block-add-wrapper-item {
        width: 100%;
    }
    .quiz-content__block-add {
        height: 100%;
    }
}
@media (max-width: 1300px) {
    .quiz-content__block-whom-title {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 5px;
    }
    .quiz-content__block-whom-title-item {
        grid-area: 2 / 1;
    }
}
@media (max-width: 1250px) {
    .ord-quiz__block {
        flex-direction: column;
    }
    .ord-quiz__block-info {
        margin: 40px 0 0 0;
    }
}
@media (max-width: 1100px) {
    .quiz-content__block-whom {
        height: 100%;
        padding: 0;
    }
    .quiz-content__block-whom-point {
        position: absolute;
        width: 150%;
        bottom: -25px;
        left: 0;
    }
    .quiz-content__block-whom-points {
        overflow: hidden;
        width: 76%;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-whom-prev {
        position: absolute;
        left: 30px;
        width: 30px;
        top: 643px;
        cursor: not-allowed;
    }
    .quiz-content__block-whom-next {
        position: absolute;
        right: 30px;
        width: 30px;
        top: 643px;
        cursor: not-allowed;
    }
    .quiz-content {
        & .containers {
            padding: 0 90px;
        }
    }
    .quiz-content__block-type {
        height: 100%;
        padding: 0;
    }
    .quiz-content__block-type-point {
        position: absolute;
        width: 150%;
        bottom: -25px;
        left: 0;
    }
    .quiz-content__block-type-points {
        overflow: hidden;
        width: 76%;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-type-prev {
        position: absolute;
        left: 30px;
        width: 30px;
        top: 540px;
        cursor: not-allowed;
    }
    .quiz-content__block-type-next {
        position: absolute;
        right: 30px;
        width: 30px;
        top: 540px;
        cursor: not-allowed;
    }
    .quiz-content__block-shade {
        height: 100%;
        padding: 0;
    }
    .quiz-content__block-shade-point {
        position: absolute;
        width: 150%;
        bottom: -25px;
        left: -184px;
    }
    .quiz-content__block-shade-points {
        overflow: hidden;
        width: 76%;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-shade-prev {
        position: absolute;
        left: 30px;
        width: 30px;
        top: 460px;
        cursor: not-allowed;
    }
    .quiz-content__block-shade-next {
        position: absolute;
        right: 30px;
        width: 30px;
        top: 460px;
        cursor: not-allowed;
    }
    .quiz-content__block-shade-wrapper {
        gap: 36px 28px;
        margin: 50px 0 130px 0;
        width: 702px;
    }
    .quiz-content__block-color {
        height: 100%;
        padding: 0;
    }
    .quiz-content__block-color-point {
        position: absolute;
        width: 150%;
        bottom: -25px;
        left: -368px;
    }
    .quiz-content__block-color-points {
        overflow: hidden;
        width: 76%;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-color-prev {
        position: absolute;
        left: 30px;
        width: 30px;
        top: 500px;
        cursor: not-allowed;
    }
    .quiz-content__block-color-next {
        position: absolute;
        right: 30px;
        width: 30px;
        top: 500px;
        cursor: not-allowed;
    }
    .quiz-content__block-range {
        height: 100%;
        padding: 0;
    }
    .quiz-content__block-range-point {
        position: absolute;
        width: 150%;
        bottom: -25px;
        left: -368px;
    }
    .quiz-content__block-range-points {
        overflow: hidden;
        width: 76%;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-range-prev {
        position: absolute;
        left: 30px;
        width: 30px;
        top: 400px;
        cursor: not-allowed;
    }
    .quiz-content__block-range-next {
        position: absolute;
        right: 30px;
        width: 30px;
        top: 400px;
        cursor: not-allowed;
    }
    .quiz-content__block-add {
        height: 100%;
        padding: 0;
    }
    .quiz-content__block-add-point {
        position: absolute;
        width: 150%;
        bottom: -25px;
        left: -368px;
    }
    .quiz-content__block-add-points {
        overflow: hidden;
        width: 76%;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-add-prev {
        position: absolute;
        left: 30px;
        width: 30px;
        top: 55px;
        cursor: not-allowed;
    }
    .quiz-content__block-add-next {
        position: absolute;
        right: 30px;
        width: 30px;
        top: 55px;
        cursor: not-allowed;
    }
    .quiz-content__block-range-point {
        position: absolute;
        width: 150%;
        bottom: -25px;
        left: -50%;
    }
    .quiz-content__block-add-point {
        position: absolute;
        width: 150%;
        bottom: -25px;
        left: -51%;
    }
    .quiz-content__block-add-point {
        position: absolute;
        width: 150%;
        bottom: -25px;
        left: -50%;
    }
    .quiz-content__block-color-points {
        overflow: hidden;
        width: 76%;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-color-prev {
        position: absolute;
        left: 30px;
        width: 30px;
        top: 500px;
        cursor: not-allowed;
    }
    .quiz-content__block-color-next {
        position: absolute;
        right: 30px;
        width: 30px;
        top: 500px;
        cursor: not-allowed;
    }
    .quiz-content__block-color-point {
        position: absolute;
        width: 150%;
        bottom: -25px;
        left: -50%;
    }

}
@media (max-width: 920px) {
    .quiz-content__block-whom-wrapper {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 19px 25px;
        // grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "quiz-whom-item-1 quiz-whom-item-2 quiz-whom-item-3"
        "quiz-whom-item-4 quiz-whom-item-5 quiz-whom-item-6"
        "quiz-whom-item-7 quiz-whom-item-8 quiz-whom-item-8";
    }
    .quiz-content__block-whom-wrapper-item {
        width: 93px;
        height: 93px;
    }
    .quiz-content__block-whom-wrapper-item:nth-child(1) {
        grid-area: quiz-whom-item-1;
    }
    .quiz-content__block-whom-wrapper-item:nth-child(2) {
        grid-area: quiz-whom-item-2;
    }
    .quiz-content__block-whom-wrapper-item:nth-child(3) {
        grid-area: quiz-whom-item-3;
    }
    .quiz-content__block-whom-wrapper-item:nth-child(4) {
        grid-area: quiz-whom-item-4;
    }
    .quiz-content__block-whom-wrapper-item:nth-child(5) {
        grid-area: quiz-whom-item-5;
    }
    .quiz-content__block-whom-wrapper-item:nth-child(6) {
        grid-area: quiz-whom-item-6;
    }
    .quiz-content__block-whom-wrapper-item:nth-child(7) {
        grid-area: quiz-whom-item-7;
    }
    .quiz-content__block-whom-wrapper-item:nth-child(8) {
        grid-area: quiz-whom-item-8;
        width: 206px;
        & p {
            margin: 14px 0 0 0;
            width: 75px;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
        }
        & input {
            margin: 18px 0 0 0;
        }
    }
    .quiz-content__block-whom-title {
        grid-template-columns: repeat(1, 1fr);
    }
    .quiz-content__block-whom-title-item {
        grid-area: 3 / 1;
    }
    .quiz-content__block-whom-prev {
        position: absolute;
        left: 30px;
        width: 30px;
        top: 620px;
        cursor: not-allowed;
    }
    .quiz-content__block-whom-next {
        position: absolute;
        right: 30px;
        width: 30px;
        top: 620px;
        cursor: not-allowed;
    }
    .quiz-content__block-whom-points {
        overflow: hidden;
        width: 365px;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-type-wrapper {
        width: 100%;
    }

    .quiz-content__block-type-prev {
        position: absolute;
        left: 30px;
        width: 30px;
        top: 540px;
        cursor: not-allowed;
    }
    .quiz-content__block-type-next {
        position: absolute;
        right: 30px;
        width: 30px;
        top: 540px;
        cursor: not-allowed;
    }
    .quiz-content__block-type-points {
        overflow: hidden;
        width: 365px;
        position: relative;
        height: 130px;
    }

    .quiz-content__block-shade-prev {
        position: absolute;
        left: 30px;
        width: 30px;
        top: 460px;
        cursor: not-allowed;
    }
    .quiz-content__block-shade-next {
        position: absolute;
        right: 30px;
        width: 30px;
        top: 460px;
        cursor: not-allowed;
    }
    .quiz-content__block-shade-points {
        overflow: hidden;
        width: 365px;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-shade-wrapper {
        width: 100%;
    }
    .quiz-content__block-shade-wrapper-item p {
        width: 100%;
    }
    .quiz-content__block-shade-point {
        position: absolute;
        width: 150%;
        bottom: -25px;
        left: -33%;
    }

    .quiz-content__block-range-prev {
        position: absolute;
        left: 30px;
        width: 30px;
        top: 380px;
        cursor: not-allowed;
    }
    .quiz-content__block-range-next {
        position: absolute;
        right: 30px;
        width: 30px;
        top: 380px;
        cursor: not-allowed;
    }
    .quiz-content__block-range-points {
        overflow: hidden;
        width: 365px;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-range-point {
        position: absolute;
        width: 215%;
        bottom: -25px;
        left: -111%;
    }
    .quiz-content__block-range-wrapper input[type=range] {
        overflow: hidden;
        width: 540px;
        -webkit-appearance: none;
        background: 0 0;
        position: relative;
    }
    .quiz-content__block-range-wrapper-line {
        width: 81%;
        height: 0;
        border: 1px solid #00474b;
        position: absolute;
        top: 27px;
        left: 0;
        z-index: -1;
    }
    .quiz-content__block-range-wrapper-line {
        width: 81%;
        height: 0;
        border: 1px solid #00474b;
        position: absolute;
        top: 27px;
        left: 65px;
        z-index: -1;
    }
    .quiz-content__block-range-wrapper {
        display: flex;
        justify-content: center;
    }
    .quiz-content__block-range-title {
        font-family: FuturaBookC;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 150%;
        letter-spacing: .5px;
        color: #fff;
    }
    .quiz-content__block-add-point {
        position: absolute;
        width: 150%;
        bottom: -25px;
        left: -51%;
    }
    .quiz-content__block-add-point {
        position: absolute;
        width: 150%;
        bottom: -25px;
        left: -50%;
    }


    .quiz-content__block-add-prev {
        position: absolute;
        left: 30px;
        width: 30px;
        top: 55px;
        cursor: not-allowed;
    }
    .quiz-content__block-add-next {
        position: absolute;
        right: 30px;
        width: 30px;
        top: 55px;
        cursor: not-allowed;
    }
    .quiz-content__block-add-points {
        overflow: hidden;
        width: 365px;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-add-point {
        position: absolute;
        width: 200%;
        bottom: -25px;
        left: -99%;
    }
    .quiz-content__block-add-prev {
        position: absolute;
        left: 30px;
        width: 30px;
        top: 55px;
        cursor: not-allowed;
    }
    .quiz-content__block-add-next {
        position: absolute;
        right: 30px;
        width: 30px;
        top: 55px;
        cursor: not-allowed;
    }

    .quiz-content__block-color-points {
        overflow: hidden;
        width: 365px;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-color-point {
        position: absolute;
        width: 200%;
        bottom: -25px;
        left: -64%;
    }
    .quiz-content__block-color-prev {
        position: absolute;
        left: 30px;
        width: 30px;
        top: 520px;
        cursor: not-allowed;
    }
    .quiz-content__block-color-next {
        position: absolute;
        right: 30px;
        width: 30px;
        top: 520px;
        cursor: not-allowed;
    }
    .quiz-content__block-color-title {
        font-family: FuturaBookC;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: .5px;
        color: #fff;
    }
    .quiz-content__block-color-wrapper-item:nth-child(1) {
        grid-area: quizColorItem-1;
    }
    .quiz-content__block-color-wrapper-item:nth-child(2) {
        grid-area: quizColorItem-2;
    }
    .quiz-content__block-color-wrapper-items-check {
        display: none;
    }
    .quiz-content__block-color-wrapper-item:nth-child(4) {
        grid-area: quizColorItem-4;
    }
    .quiz-content__block-color-wrapper {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 36px 28px;
        margin: 50px 0 0 0;
        width: 100%;
        grid-template-areas: "quizColorItem-1 quizColorItem-2"
        "quizColorItem-4 quizColorItem-4";
    }
    .quiz-content__block-color-wrapper-items {
        width: 205%;
    }
    .ord-quiz__catalog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 45px 0;
    }
    .ord-quiz__catalog-item {
        margin: 0 auto;
    }
    .ord-quiz__catalog-hr {
        position: absolute;
        height: 0;
        width: 65%;
        padding: 0 50px;
        top: 44px;
        left: 17%;
        border: 1px solid #16b8c3;
        z-index: -1;
    }
    .ord-quiz__catalog-hr-media {
        position: absolute;
        height: 0;
        width: 65%;
        padding: 0 50px;
        top: 175px;
        left: 17%;
        border: 1px solid #16b8c3;
        z-index: -1;
        display: block;
    }
}
@media (max-width: 750px) {
    .quiz-content__block-range-title {
        font-family: FuturaBookC;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: .5px;
        color: #fff;
    }
}
@media (max-width: 700px) {
    .quiz-content .containers {
        padding: 0 28px;
    }
}
@media (max-width: 650px) {
    .quiz-content__block-range-wrapper input[type=range] {
        overflow: hidden;
        width: 385px;
        -webkit-appearance: none;
        background: 0 0;
        position: relative;
    }
    .quiz-content__block-range-wrapper-line {
        width: 58%;
        height: 0;
        border: 1px solid #00474b;
        position: absolute;
        top: 27px;
        left: 140px;
        z-index: -1;
    }
    .quiz-content__block-add-prev {
        position: absolute;
        left: 0;
        width: 30px;
        top: 55px;
        cursor: not-allowed;
    }
    .quiz-content__block-add-next {
        position: absolute;
        right: 8px;
        width: 30px;
        top: 55px;
        cursor: not-allowed;
    }
}
@media (max-width: 600px) {
    .ord-quiz__block-data-btn {
        border: none;
        width: 320px;
        height: 50px;
        background: conic-gradient(from 
    180deg at 50% 50%,#dcdcdc 
    -35.51deg,#ccc 
    10.17deg,#b6b6b6 
    44.5deg,#b8b8b8 
    123.75deg,#d1d1d1 
    171.3deg,#aaa 
    188.73deg,#c4c4c4 
    224.01deg,#dcdcdc 
    324.49deg,#ccc 
    370.17deg);
        -webkit-box-shadow: 0 0 15px #c5c5c5;
        box-shadow: 0 0 15px #c5c5c5;
        border-radius: 10px;
        position: relative;
        padding: 0 0 5px 0;
        margin: 50px 0 0 0;
    }
    .ord-quiz__block-data-btn::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 309.53px;
        height: 41px;
        border: .5px solid #c6c6c6;
        border-radius: 10px;
    }
    .ord-quiz__block-data-btn::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 8px;
        width: 301.55px;
        height: 33px;
        border: .5px solid #c6c6c6;
        border-radius: 10px;
    }
    .ord-quiz__block-info-price-total,
    .ord-quiz__block-info-price-balls,
    .ord-quiz__block-info-price-delivery,
    .ord-quiz__block-data-card-quiz,
    .ord-quiz__block-data-message-textarea,
    .ord-quiz__block-data-postcards textarea {
        width: 320px;
    }
    .ord-quiz__block-data-card-form {
        width: 320px;
        height: 227px;
        border: 1px solid #16b8c3;
        border-radius: 5px;
        margin: 36px 0 0 0;
        padding: 21px 0 20px 20px;
    }
    .ord-quiz__block-data-postcard-container {
        margin: 40px 0 0 0;
    }
    .ord-quiz__block-data-postcard-title::after {
        content: "(не более 2500 символов)";
        position: absolute;
        top: 30px;
        right: 70px;
        font-family: Circe;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 122%;
        letter-spacing: .5px;
        color: #b7a8a8;
    }
    .ord-quiz__block-data-postcards-container {
        width: 320px;
        flex-direction: column;
        height: 100%;
        align-items: flex-start;
    }
    .ord-quiz__block-data-postcards-no {
        margin: 30px 0 0 0;
    }
    .ord-quiz__block-data-postcards-yes .ord-quiz__block-data-postcards-check {
        width: 320px;
    }
    .ord-quiz__block-data-postcards-yes {
        width: 320px;
    }
    input[type=radio]:checked~.ord-quiz__block-data-postcards-check::before {
        width: 320px;
    }
    input[type=radio]:checked~.ord-quiz__block-data-postcards-border::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 8px;
        width: 304px;
        height: 33px;
        border: .5px solid #c6c6c6;
        border-radius: 10px;
    }
    input[type=radio]:checked~.ord-quiz__block-data-postcards-border::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 311px;
        height: 41px;
        border: .5px solid #c6c6c6;
        border-radius: 10px;
    }
    .ord-quiz__block-data-postcards-no .ord-quiz__block-data-postcards-check {
        width: 320px;
    }
    .ord-quiz__block-data-postcards-no {
        width: 320px;
    }
    .ord-quiz__block-data-time-container {
        grid-template-columns: repeat(1, 1fr);
    }
    input[type=radio]:checked~.ord-quiz__block-data-time-check {
        width: 320px;
    }
    .ord-quiz__block-data-time-text {
        position: absolute;
        top: 15px;
        left: 125px;
    }
    .ord-quiz__block-data-time-block .ord-quiz__block-data-time-check {
        width: 320px;
    }
    .ord-quiz__block-data-delivery {
        flex-direction: column;
        align-items: flex-start;
    }
    .ord-quiz__block-data-delivery .ord-quiz__block-data-label {
        margin: 30px 0 0 0;
    }
    .ord-quiz__block-data-courier {
        width: 320px;
    }
    .ord-quiz__block-data-delivery .ord-quiz__block-data-label input[type=radio]:checked+.ord-quiz__block-data-content {
        width: 320px;
    }
    .ord-quiz__block-data-delivery .ord-quiz__block-data-label input[type=radio]:checked+.ord-quiz__block-data-content::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 309px;
        height: 86px;
        border: .5px solid #c6c6c6;
        border-radius: 10px;
    }
    .ord-quiz__block-data-delivery .ord-quiz__block-data-label input[type=radio]:checked+.ord-quiz__block-data-content::after {
        content: "";
        width: 297px;
        height: 76px;
        border: .5px solid #c6c6c6;
        border-radius: 10px;
        position: absolute;
        top: 9px;
        left: 9px;
    }
    .ord-quiz__block-data-me {
        width: 320px;
    }
    .ord-quiz__block-data-contact {
        flex-direction: column;
        align-items: flex-start;
    }
    .ord-quiz__block-data-contact-phone {
        margin: 30px 0 0 0;
    }
    .ord-quiz__block-data-calls {
        flex-direction: column;
        align-items: flex-start;
    }
    .ord-quiz__block-data-calls-phones {
        margin: 30px 0 0 0;
    }
    .ord-quiz__block-data-address {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .ord-quiz__block-data-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .ord-quiz__block-data-contact-name input,
    .ord-quiz__block-data-contact-phone input,
    .ord-quiz__block-data-calls-names input,
    .ord-quiz__block-data-calls-phones input,
    .ord-quiz__block-data-address-city,
    .ord-quiz__block-data-address-date label,
    .ord-quiz__block-data-address-date,
    .ord-quiz__block-data-address-street input,
    .ord-quiz__block-data-address-street label,
    .ord-quiz__block-data-address-street,
    .ord-quiz__block-data-address-home input,
    .ord-quiz__block-data-address-home label,
    .ord-quiz__block-data-address-home,
    .ord-quiz__block-data-address-porch input,
    .ord-quiz__block-data-address-porch label,
    .ord-quiz__block-data-address-porch,
    .ord-quiz__block-data-address-floor input,
    .ord-quiz__block-data-address-floor label,
    .ord-quiz__block-data-address-floor,
    .ord-quiz__block-data-address-apartment input,
    .ord-quiz__block-data-address-apartment label,
    .ord-quiz__block-data-address-apartment {
        width: 320px;
    }
    .ord-select-options li {
        width: 318px;
    }


}
@media (max-width: 550px) {
    .quiz-content__block-whom-prev {
        position: absolute;
        left: 0px;
        width: 30px;
        top: 620px;
        cursor: not-allowed;
    }
    .quiz-content__block-whom-next {
        position: absolute;
        right: 8px;
        width: 30px;
        top: 620px;
        cursor: not-allowed;
    }

    .quiz-content__block-type-prev {
        position: absolute;
        left: 0px;
        width: 30px;
        top: 540px;
        cursor: not-allowed;
    }
    .quiz-content__block-type-next {
        position: absolute;
        right: 8px;
        width: 30px;
        top: 540px;
        cursor: not-allowed;
    }

    .quiz-content__block-shade-prev {
        position: absolute;
        left: 0px;
        width: 30px;
        top: 460px;
        cursor: not-allowed;
    }
    .quiz-content__block-shade-next {
        position: absolute;
        right: 8px;
        width: 30px;
        top: 460px;
        cursor: not-allowed;
    }

    .quiz-content__block-range-prev {
        position: absolute;
        left: 0px;
        width: 30px;
        top: 380px;
        cursor: not-allowed;
    }
    .quiz-content__block-range-next {
        position: absolute;
        right: 8px;
        width: 30px;
        top: 380px;
        cursor: not-allowed;
    }
}
@media (max-width: 536px) {
    .quiz-content__block-color-points {
        overflow: hidden;
        width: 230px;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-color-point {
        position: absolute;
        width: 220%;
        bottom: -25px;
        left: -105%;
    }
    .quiz-content__block-color-prev {
        position: absolute;
        left: 0;
        width: 30px;
        top: 495px;
        cursor: not-allowed;
    }
    .quiz-content__block-color-next {
        position: absolute;
        right: 8px;
        width: 30px;
        top: 495px;
        cursor: not-allowed;
    }
    .quiz-content__block-color-wrapper-item:nth-child(1) {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
    .quiz-content__block-color-wrapper-item:nth-child(2) {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
}
@media (max-width: 515px) {
    .quiz-content__block-range-prev {
        position: absolute;
        left: 0px;
        width: 30px;
        top: 415px;
        cursor: not-allowed;
    }
    .quiz-content__block-range-next {
        position: absolute;
        right: 8px;
        width: 30px;
        top: 415px;
        cursor: not-allowed;
    }
}
@media (max-width: 501px) {
    .quiz-content__block-shade-prev {
        position: absolute;
        left: 0;
        width: 30px;
        top: 460px;
        cursor: not-allowed;
    }
    .quiz-content__block-shade-next {
        position: absolute;
        right: 8px;
        width: 30px;
        top: 460px;
        cursor: not-allowed;
    }
}
@media (max-width: 500px) {
    .quiz-content__block-whom-points {
        overflow: hidden;
        width: 230px;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-color-wrapper-items {
        width: 100%;
    }
    .quiz-content__block-color-wrappers {
        width: 100%;
    }
    .quiz-content__block-color-wrapper-items {
        width: 190%;
    }
    .quiz-content__block-whom-point {
        position: absolute;
        width: 101%;
        bottom: -25px;
        left: 0;
    }
    .quiz-content__block-range-point {
        position: absolute;
        width: 268%;
        bottom: -25px;
        left: -157%;
    }

    .quiz-content__block-type-points {
        overflow: hidden;
        width: 230px;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-type-point {
        position: absolute;
        width: 101%;
        bottom: -25px;
        left: 0;
    }


    .quiz-content__block-shade-points {
        overflow: hidden;
        width: 230px;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-shade-point {
        position: absolute;
        width: 150%;
        bottom: -25px;
        left: -55%;
    }
    .quiz-content__block-shade-prev {
        position: absolute;
        left: 0;
        width: 30px;
        top: 505px;
        cursor: not-allowed;
    }
    .quiz-content__block-shade-next {
        position: absolute;
        right: 8px;
        width: 30px;
        top: 505px;
        cursor: not-allowed;
    }
    .quiz-content__block-shade-wrapper-item p {
        margin: 20px 0 -160px 0;
        font-size: 13px;
    }
    .quiz-content__block-shade-wrapper {
        gap: 30px 15px;
    }

    .quiz-content__block-range-points {
        overflow: hidden;
        width: 230px;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-range-wrapper input[type=range] {
        overflow: hidden;
        width: 320px;
        -webkit-appearance: none;
        background: 0 0;
        position: relative;
    }
    .quiz-content__block-range-wrapper-line {
        width: 48%;
        height: 0;
        border: 1px solid #00474b;
        position: absolute;
        top: 27px;
        left: 174px;
        z-index: -1;
    }
    .quiz-content__block-shade-prev {
        position: absolute;
        left: 0;
        width: 30px;
        top: 460px;
        cursor: not-allowed;
    }
    .quiz-content__block-shade-next {
        position: absolute;
        right: 8px;
        width: 30px;
        top: 460px;
        cursor: not-allowed;
    }
    .quiz-content__block-add-prev {
        position: absolute;
        left: 0;
        width: 30px;
        top: 55px;
        cursor: not-allowed;
    }
    .quiz-content__block-add-next {
        position: absolute;
        right: 8px;
        width: 30px;
        top: 55px;
        cursor: not-allowed;
    }
    .quiz-content__block-add-points {
        overflow: hidden;
        width: 230px;
        position: relative;
        height: 130px;
    }
    .quiz-content__block-add-point {
        position: absolute;
        width: 328%;
        bottom: -25px;
        left: -224%;
    }
    .quiz-content__block-add-wrapper-item {
        height: 135px;
    }   
    .quiz-content__block-color-wrappers .quiz-content__block-color-wrapper-items:nth-child(1) {
        display: none;
    } 
    .quiz-content__block-color-wrappers {
        gap: 0;
        display: flex;
    }
}
@media (max-width: 486px) {
    .quiz-content__block-shade-prev {
        position: absolute;
        left: 0px;
        width: 30px;
        top: 505px;
        cursor: not-allowed;
    }
    .quiz-content__block-shade-next {
        position: absolute;
        right: 8px;
        width: 30px;
        top: 505px;
        cursor: not-allowed;
    }
}
@media (max-width: 477px) {
    .quiz-content__block-color-prev {
        position: absolute;
        left: 0;
        width: 30px;
        top: 525px;
        cursor: not-allowed;
    }
    .quiz-content__block-color-next {
        position: absolute;
        right: 8px;
        width: 30px;
        top: 525px;
        cursor: not-allowed;
    }
    .ord-quiz__catalog-item {
        width: 93px;
        height: 93px;
    }
    .ord-quiz__catalog {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 55px 0;
    }
    .ord-quiz__catalog-hr {
        position: absolute;
        height: 0;
        width: 65%;
        padding: 0 50px;
        top: 47px;
        left: 17%;
        border: 1px solid #16b8c3;
        z-index: -1;
    }
    .ord-quiz__catalog-hr-media {
        position: absolute;
        height: 0;
        width: 65%;
        padding: 0 50px;
        top: 195px;
        left: 17%;
        border: 1px solid #16b8c3;
        z-index: -1;
        display: block;
    }
    
}