.policy-wrapper {
    width: 100%;
    height: 100%;
    background: #010C2D;
}


.header-profile__policy {
    position: absolute;
    top: 59px;
    left: 28%;
    width: 784px;
    height: 499px;
    background: #001C68;
    box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 36px 51px 0 51px;
    position: relative;
    &-add {
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 122%;
        letter-spacing: 0.5px;
        color: #FFFFFF;
    }
    &-title {
        margin: 47px 0 0 0;
        font-family: Circe;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 180%;
        letter-spacing: 0.5px;
        color: #FBFCFF;
    }
    &-text {
        margin: 37px 0 0 0;
        width: 550px;
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 122%;
        letter-spacing: 0.5px;
        color: #FFFFFF;
    }
    &-btn {
        background: transparent;
        margin: 27px 0 0 0;
        & a {
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 22px;
            text-decoration-line: underline;
            color: #FFFFFF;
        }
    }
}