@media (max-width: 1330px) {
    .header-profile__editor {
        width: 96%;
        position: static;
    }
    .editor-wrapper {
        & .header-profile__menu {
            width: 100%;
            height: 880px;
            position: relative;
        }
    }
}