.cat-collections {
    width: 100%;
    height: 100%;
    &__block {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        &-title {
            height: 34px;
            font-family: FuturaBookC;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 34px;
            color: #FFFFFF;
        }
        &-container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 78px;
            &:first-child {
                margin-top: 0;
            }
        }
        &-list {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding: 30px 5px;
            gap: 30px 28px;
            width: 100%;
            display: none;
            &-item {
                width: 255px;
                height: 184px; 
                background: #04133C;
                border: 1px solid #002685;
                box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
                border-radius: 20px;
                padding-bottom: 23px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                font-family: FuturaBookC;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 17px;
                text-align: center;
                color: #FFFFFF;
                width: 100%;
            }
        }
        &-list-1 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 30px 5px;
            gap: 30px 28px;
            width: 100%;
            display: none;
            &-item {
                width: 255px;
                height: 184px; 
                background: #04133C;
                border: 1px solid #002685;
                box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
                border-radius: 20px;
                padding-bottom: 23px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                font-family: FuturaBookC;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 17px;
                text-align: center;
                color: #FFFFFF;
                width: 100%;
            }
        }
        &-list-2 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 30px 5px;
            gap: 30px 28px;
            width: 100%;
            display: none;
            &-item {
                width: 255px;
                height: 184px; 
                background: #04133C;
                border: 1px solid #002685;
                box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
                border-radius: 20px;
                padding-bottom: 23px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                font-family: FuturaBookC;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 17px;
                text-align: center;
                color: #FFFFFF;
                width: 100%;
            }
        }
        &-add {
            height: 23px;
            font-family: FuturaBookC;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            color: #FFFFFF; 
        }
        &-slider-1 {
            width: 100%;
            margin-top: 38px;
            .swiper-control-1 {
                position: relative;
                width: 100%;
                & .swiper-button-prev {
                    left: -67px;
                    top: -90px;
                    color: #DE33FE;
                }
                & .swiper-button-next {
                    right: -67px;
                    top: -90px;
                    color: #DE33FE;
                }
                & .swiper-pagination {
                    bottom: -50px;
                    left: 0;
                    margin: 0 auto;
                    display: none;
                }
                & .swiper-pagination-bullet {
                    background: rgba(133, 79, 200, 0.8);
                    width: 8px;
                    height: 8px;
                    opacity: 1;
                }
                & .swiper-pagination-bullet-active {
                    background: rgba(127, 132, 137, 0.25);;
                    width: 8px;
                    height: 8px;
                    opacity: 1;
                }
            }
        }
        &-slider-2 {
            width: 100%;
            margin-top: 38px;
            .swiper-control-2 {
                position: relative;
                width: 100%;
                & .swiper-button-prev {
                    left: -67px;
                    top: -90px;
                    color: #DE33FE;
                }
                & .swiper-button-next {
                    right: -67px;
                    top: -90px;
                    color: #DE33FE;
                }
                & .swiper-pagination {
                    bottom: -50px;
                    left: 0;
                    margin: 0 auto;
                    display: none;
                }
                & .swiper-pagination-bullet {
                    background: rgba(133, 79, 200, 0.8);
                    width: 8px;
                    height: 8px;
                    opacity: 1;
                }
                & .swiper-pagination-bullet-active {
                    background: rgba(127, 132, 137, 0.25);;
                    width: 8px;
                    height: 8px;
                    opacity: 1;
                }
            }
        }
    }
}
.swiper {
    padding: 0 5px !important;
}
.swiper .sliderCatalogCollections-2 {
    width: 100%;
    height: 100%;
    padding: 0 5px;
}
.swiper .sliderCatalogCollections-1 {
    width: 100%;
    height: 100%;
    padding: 0 5px;
}
.sliderCatalogCollections-1 {
    & .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 255px;
        height: 184px;
        background: #04133C;
        border: 1px solid #002685;
        box-sizing: border-box;
        box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
        border-radius: 20px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 23px;
        font-family: FuturaBookC;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        margin: 5px 0;
    }
}
.sliderCatalogCollections-2 {
    & .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 255px;
        height: 184px;
        background: #04133C;
        border: 1px solid #002685;
        box-sizing: border-box;
        box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
        border-radius: 20px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 23px;
        font-family: FuturaBookC;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        margin: 5px 0;
    }
}



.cat-collections {
    &__block {
        &-select {
            width: 125px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
    }
}

.cat-collections__block-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  
  .cat-collections__block-select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 125px;
    height: 17px;
    background-color: transparent;
  }
  
  .cat-collections__block-styled,
  .cat-collections__block-styled-1,
  .cat-collections__block-styled-2 {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 2px;
    background-color: transparent;
    height: 17px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
  }
  .cat-collections__block-styled:after,
  .cat-collections__block-styled-1:after,
  .cat-collections__block-styled-2:after {
    content: "";
    width: 1px;
    height: 13px;
    border-right: 2px solid #bbbbbb;
    position: absolute;
    top: 1.5px;
    right: 1.8px;
    transform: rotate(-45deg);
    transition: all 0.5s ease;
  }
  .cat-collections__block-styled::before,
  .cat-collections__block-styled-1::before,
  .cat-collections__block-styled-2::before {
    content: "";
    width: 13px;
    height: 1px;
    border-top: 2px solid #bbbbbb;
    position: absolute;
    top: 7px;
    right: 5px;
    transform: rotate(-45deg);
    transition: all 0.5s ease;
  }
  .cat-collections__block-styled:hover,
  .cat-collections__block-styled-1:hover,
  .cat-collections__block-styled-2:hover {
    background-color: transparent;
  }
  




  .cat-collections__block-styled:active, .cat-collections__block-styled.c-active {
    background-color: transparent;
  }
  .cat-collections__block-styled:active:after, .cat-collections__block-styled.c-active:after {
    
    right: 2.1px;

    transform: rotate(45deg);
    transition: all 0.5s ease;
  }
  .cat-collections__block-styled:active:before, .cat-collections__block-styled.c-active:before {

    transform: rotate(-135deg);
    transition: all 0.5s ease;
  }






  .cat-collections__block-styled-1:active, .cat-collections__block-styled-1.c-active {
    background-color: transparent;
  }
  .cat-collections__block-styled-1:active:after, .cat-collections__block-styled-1.c-active:after {
    
    right: 2.1px;

    transform: rotate(45deg);
    transition: all 0.5s ease;
  }
  .cat-collections__block-styled-1:active:before, .cat-collections__block-styled-1.c-active:before {

    transform: rotate(-135deg);
    transition: all 0.5s ease;
  }












  .cat-collections__block-styled-2:active, .cat-collections__block-styled-2.c-active {
    background-color: transparent;
  }
  .cat-collections__block-styled-2:active:after, .cat-collections__block-styled-2.c-active:after {
    
    right: 2.1px;

    transform: rotate(45deg);
    transition: all 0.5s ease;
  }
  .cat-collections__block-styled-2:active:before, .cat-collections__block-styled-2.c-active:before {

    transform: rotate(-135deg);
    transition: all 0.5s ease;
  }
  
  .cat-collections__block-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: transparent;
    margin-top: 3px;
  }
  .cat-collections__block-options li {
      background-color: transparent;
        margin: 0;
        padding: 8px 2px;
        height: 35px;
        font-family: FuturaBookC;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 17px;
        color: #FFFFFF;
        border-top: 1px solid transparent;
        transition: all 0.15s ease-in;
        background: #04133C;
        border-bottom: 1px solid #002685;
        border-radius: 5px;
        box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
        margin-bottom: 2px;
        &:last-child {
            margin-bottom: 0
        }
}
  .cat-collections__block-options li:hover {
    color: #fff;
    background: #7D7D7D;
  }
  .cat-collections__block-options li[rel="hide"] {
    display: none;
  }
.c-display {
    display: grid !important;
}
.c-display-none {
    display: none !important;
}