@media (max-width: 1330px) {
    .header-profile__history {
        width: 96%;
        position: static;
        margin: 30px 0 0 0;
        padding: 36px 0 0 0;
    }
    .header-profile__history-list {
        margin: 44px auto 0 auto;
    }
    .header-profile__history-title {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 900px) {
    .header-profile__history-list {
        grid-template-columns: repeat(3,1fr);
    }
    .header-profile__history {
        height: 85%;
    }
    .header-profile__history-item:last-child {
        display: none;
    }
}
@media (max-width: 560px) {
    .header-profile__history-list {
        grid-template-columns: repeat(2,1fr);
    }
    .header-profile__history {
        height: 85%;
    }
    .header-profile__history-item:nth-child(7) {
        display: none;
    }
    .header-profile__history-item:nth-child(8) {
        display: none;
    }
    .header-profile__history-item:nth-child(9) {
        display: none;
    }
    .header-profile__history-item:nth-child(10) {
        display: none;
    }
}